<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>point</title>
        <link rel="stylesheet" href="../../static/css/point/point.css" />
    </head>
    <body>
        <div id="root">
            <div class="profile_container__1Ub0_">
                <div class="profile_content__h3eF3">
                    <h3 class="blind">내 정보</h3>
                    <div class="side-navigation">
                        <div class="navi-top-area has-tooltip">
                            <a
                                href="javascript:;"
                                class="select-tooltip btn-question qnaSpB"
                                >질문 · 글쓰기</a
                            >
                            <!-- [Dev] 툴팁오픈 : tooltip-open 클래스 추가 -->
                            <div class="create-menu">
                                <ul
                                    class="create-menu-wrap tooltip-layer qnaSpB"
                                >
                                    <li>
                                        <a
                                            href=""
                                            class="create-menu-item qna qnaSpB devLoginLayer"
                                            devalert="1"
                                            data-wtypecode="1"
                                            >직무/기업/동문에게 질문하기</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href=""
                                            class="create-menu-item carrier qnaSpB devLoginLayer"
                                            devalert="1"
                                            data-wtypecode="2"
                                            >QnA 목록</a
                                        >
                                    </li>
                                </ul>
                            </div>
                            <div class="myInfoSec">
                                <a href="" class="myInfo">
                                    <!-- [Dev] 프로필 랜덤 이미지 파일명 : random_1 ~ random_20, 이미지 없음 : random_default -->
                                    <span class="proThumb"
                                        ><img
                                            onerror="
                                                this.src =
                                                    'https://cdn-assets.jobkorea.co.kr/images/jk-pc/m/ver_2/user/qna/profile_thumb/random_default.jpg'
                                            "
                                            src="https://cdn-assets.jobkorea.co.kr/images/jk-pc/m/ver_2/user/qna/profile_thumb/random_13.jpg"
                                            alt="프로필 이미지"
                                    /></span>

                                    <dl class="infoBx">
                                        <dt class="qnaSpA">
                                            <span class="nickname"
                                                >mento...</span
                                            >
                                            <span class="lvIcon">Lv.1</span>
                                        </dt>
                                        <dd>
                                            <span>글 <b>0</b></span>
                                            <span>질문 <b>0</b></span>
                                            <span
                                                >답변 <b>0</b> (채택
                                                <b>0</b>)</span
                                            >
                                        </dd>
                                    </dl>
                                </a>
                                <button
                                    type="button"
                                    class="myPoint devMainCouponButton"
                                >
                                    <span class="point qnaSpB">0</span
                                    ><span class="btnCoupon qnaSpA"
                                        >별 교환</span
                                    >
                                </button>
                            </div>
                        </div>
                        <div class="navi-list-area">
                            <!-- [Dev] 메뉴 on : 클래스 active 추가 -->
                            <div class="sideNavLow">
                                <strong class="sideNavTit has-tooltip">
                                    <a
                                        id="devLeftMenuSubscribeTag"
                                        href=""
                                        data-tab="1"
                                        class="devLoginLayer"
                                        devalert="0"
                                        >구독</a
                                    >
                                    <a class="select-tooltip qnaSpA" href="">
                                    </a>
                                </strong>
                                <div class="devLeftSubscribeList">
                                    <ul
                                        id="mySubscribeList"
                                        class="sideNavList"
                                    >
                                        <li
                                            data-subscrkey="1000229_2"
                                            class="devLeftSubscribeItem"
                                            data-lastregdt="2026-01-14 02:31:29"
                                        >
                                            <a href="">
                                                백엔드개발자
                                                <!-- 새글 new-->
                                                <span
                                                    class="qnaSpA"
                                                    style="display: none"
                                                    >새글</span
                                                >
                                            </a>
                                        </li>
                                        <li
                                            data-subscrkey="test"
                                            class="devLeftSubscribeItem"
                                            data-lastregdt="2025-10-15 11:28:36"
                                        >
                                            <a href="">
                                                try-catch
                                                <!-- 새글 new-->
                                                <span
                                                    class="qnaSpA"
                                                    style="display: none"
                                                    >새글</span
                                                >
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sideNavLow">
                                <strong class="sideNavTit"
                                    ><a
                                        id="devLeftMenuPopularTag"
                                        href=""
                                        data-tab="2"
                                        class=""
                                        devalert="0"
                                        >인기<span class="qnaSpA icnNew"
                                            >새글</span
                                        ></a
                                    ></strong
                                >
                                <a
                                    href=""
                                    class="button-more qnaSpA"
                                    target="_blank"
                                    >더보기</a
                                >
                                <ul class="sideNavList">
                                    <li>
                                        <a href="" target="_blank"
                                            >삼성전자㈜</a
                                        >
                                    </li>
                                    <li>
                                        <a href="" target="_blank">쿠팡(주)</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sideNavLow">
                                <strong class="sideNavTit"
                                    ><a
                                        id="devLeftMenuEntireTag"
                                        href="/User/Qstn/Index?MainType=3"
                                        data-tab="3"
                                        class=""
                                        >전체<span class="qnaSpA icnNew"
                                            >새글</span
                                        ></a
                                    ></strong
                                >
                            </div>
                            <div
                                class="sideNavLow devRecentVisitGroup"
                                style="display: none"
                            >
                                <strong class="sideNavTit"
                                    ><a href="javascript:void();"
                                        >최근 본 그룹</a
                                    ></strong
                                >
                                <ul class="sideNavList boxList"></ul>
                            </div>
                        </div>
                    </div>
                    <!-- 사이드 네비게이션 끝 -->
                    <div class="profile_wrapper__3urr2">
                        <section class="profile_section__23jL-">
                            <div class="profile_common_header__2X1Vd">
                                <h4 class="profile_common_title__2ttHE">
                                    내 별
                                </h4>
                            </div>
                            <div
                                class="profile_common_container__2Q8-1 profile_common_type_default__1CARE profile_common_is_shrinked__2FiZL"
                            >
                                <div class="header_container__3cT1P">
                                    <div class="header_column__qYNCu">
                                        <div class="header_wrapper__6Qi7h">
                                            <div class="header_area__2hVfI">
                                                <i
                                                    class="header_icon__2K2id"
                                                ></i>
                                                <div class="header_box__TaUZh">
                                                    <em
                                                        class="header_title__2DG2j"
                                                        >보유중인 별</em
                                                    ><strong
                                                        class="header_number__44Pes"
                                                        >1,000개</strong
                                                    >
                                                </div>
                                                <button
                                                    type="button"
                                                    class="header_button__9mwzc header_highlight__3hMnE"
                                                >
                                                    충전하기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="tab_list__28ln6" role="tablist">
                                    <li class="tab_item__2zBYZ" role="none">
                                        <button
                                            type="button"
                                            id="purchase"
                                            class="tab_button__D3QSu"
                                            role="tab"
                                            aria-selected="true"
                                            aria-controls="purchase-panel"
                                        >
                                            구매 내역
                                        </button>
                                    </li>
                                </ul>
                                <div class="table_container__2G8Bx">
                                    <table
                                        width="100%"
                                        cellpadding="0"
                                        cellspacing="0"
                                        class="table_wrapper__319N0"
                                    >
                                        <caption>
                                            <span class="blind"
                                                >구매 내역으로 충전일시,
                                                충전방식, 충전수량, 잔여수량,
                                                결제수단, 결제금액,
                                                구매취소</span
                                            >
                                        </caption>
                                        <colgroup>
                                            <col style="width: 130px" />
                                            <col style="width: 110px" />
                                            <col style="width: 130px" />
                                            <col style="width: 130px" />
                                            <col style="width: 130px" />
                                            <col />
                                            <col style="width: 130px" />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th scope="col">충전일시</th>
                                                <th scope="col">충전방식</th>
                                                <th scope="col">충전수량</th>
                                                <th scope="col">잔여수량</th>
                                                <th scope="col">결제금액</th>
                                                <th scope="col">유효기간</th>
                                                <th
                                                    scope="col"
                                                    class="table_default__1WBZ2"
                                                >
                                                    구매취소
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    2026.01.27<br />09:28:01
                                                </td>
                                                <td>일반충전</td>
                                                <td>
                                                    <strong
                                                        class="table_text__1aOIu"
                                                        >1,000개</strong
                                                    >
                                                </td>
                                                <td>
                                                    <strong
                                                        class="table_text__1aOIu"
                                                        >1,000개</strong
                                                    >
                                                </td>
                                                <td>
                                                    <span
                                                        class="table_text__1aOIu"
                                                        >1,100원</span
                                                    >
                                                </td>
                                                <td>
                                                    2031.01.27<br />09:28:01
                                                </td>
                                                <td
                                                    class="table_default__1WBZ2"
                                                >
                                                    <button
                                                        type="button"
                                                        class="table_button__299bn"
                                                    >
                                                        구매취소
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div
                                    class="profile_common_container__2Q8-1 profile_common_type_pagination__3UHCb"
                                >
                                    <nav
                                        aria-label="pagination"
                                        class="pagination_container__33RvO"
                                    >
                                        <div class="pagination_wrapper__2XtxS">
                                            <ul class="pagination_list__22SiR">
                                                <li
                                                    class="pagination_item__2kbgM"
                                                >
                                                    <button
                                                        class="pagination_page__USQaB"
                                                        aria-current="page"
                                                    >
                                                        1
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                                <div class="guide_container__26o9Q">
                                    <div class="guide_wrapper__1b8eP">
                                        <strong class="guide_title__3rr3W"
                                            >별 이용안내</strong
                                        >
                                        <ul>
                                            <li>
                                                별 구매 시 10%의 부가가치세가
                                                부과됩니다.
                                            </li>
                                            <li>
                                                구매한 별 유효기간은
                                                구매일로부터 5년입니다.
                                            </li>
                                            <li>
                                                별 충전 및 사용내역은 프로필
                                                &gt; 내 별 확인할 수 있습니다.
                                            </li>
                                            <li>
                                                기타 별 충전 관련 문의는
                                                <a
                                                    href=""
                                                    target="_blank"
                                                    class="guide_link__2OYBd"
                                                    >고객센터</a
                                                >를 이용해 주세요.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="guide_wrapper__1b8eP">
                                        <strong class="guide_title__3rr3W"
                                            >별 구매 취소안내</strong
                                        >
                                        <ul>
                                            <li>
                                                웹을 통해 결제한 별 구매 후 7일
                                                이내에 전액을 사용하지 않은 경우
                                                내 별 페이지에서 직접 취소가
                                                가능하며, 이외의 경우 고객센터를
                                                통해 환불이 가능합니다.<br />(단,
                                                잔여 수량이 10개 이하이거나
                                                서비스에서 탈퇴한 경우, 환불은
                                                불가합니다.)
                                            </li>
                                            <li>
                                                인앱결제를 통해 구매한 별 대한
                                                환불은 구매한 앱 마켓의 환불
                                                정책에 따릅니다.
                                                <a
                                                    href=""
                                                    target="_blank"
                                                    rel="noreferrer"
                                                    class="guide_link__2OYBd"
                                                    >환불정책 보기</a
                                                >
                                            </li>
                                            <li>
                                                미성년자가 법정대리인 동의 없이
                                                계약을 체결한 경우, 미성년자
                                                또는 법정대리인이 이를 취소할 수
                                                있습니다.
                                            </li>
                                            <li>
                                                TRY-CATCH 회원 탈퇴 시 보유한
                                                잔여 별에 대하여 환불을 신청할
                                                수 있고, 환불 신청 없이 탈퇴한
                                                경우 회원 탈퇴가 완료된 이후에는
                                                별의 복구 또는 환불이
                                                불가능합니다.
                                            </li>
                                            <li>
                                                유료서비스 구매에 따른 자세한
                                                내용은
                                                <a
                                                    href=""
                                                    target="_blank"
                                                    rel="noreferrer"
                                                    class="guide_link__2OYBd"
                                                    >TRY-CATCH 유료서비스
                                                    이용약관</a
                                                >을 따릅니다.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="../../static/js/point/point.js"></script>
    <script src="https://js.bootpay.co.kr/bootpay-5.0.2.min.js"></script>
</html>
