<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error-page</title>
    <link rel="stylesheet" href="/static/css/error-page/error-page.css">
</head>
<body>
    <div id="wrap" class="pc">
        <div class="head">
            <h1 class="pc">
                <a href="#!">
                    <img src="/static/images/logo.png">
                </a>
            </h1>
            <div class="nav">
                <ul>
                    <li>
                        <a href="#!">홈</a>
                    </li>
                    <li>
                        <a href="#!">체험정보</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cnt">
            <p class="tit">
                요청하신 페이지를 
                <em>찾을 수 없습니다.</em>
            </p>
            <div class="txt">
                <p>
                    방문하시려는 페이지의 주소가 잘못 입력되었거나, 
                    <br>
                    페이지의 주소가 변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다.
                </p>
                <p>
                    <em>입력하신 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.</em>
                </p>
                <p>
                    관련 문의사항은 
                    <a href="#!" class="help">고객센터</a>
                    에 알려주시면 친절하게 안내해 드리겠습니다.
                </p>
            </div>
            <div class="btns">
                <a href="#!" class="btn_back">
                    <i class="arrow"></i>
                    <span>이전</span>
                </a>
                <a href="#!" class="btn_home">홈으로</a>
            </div>
        </div>
        <div class="footer">
            <p>
                ⓒ 
                <strong>TRYCATCH</strong>
                 LLC. All rights reserved.
            </p>
        </div>
    </div>
</body>
</html>