<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header logged-in</title>
    <link rel="stylesheet" href="/static/css/corporate/header.css">
</head>
<body>
    <div id="wrap">
        <!-- 헤더 -->
        <div class="corporate-header">
            <!-- main-menu -->
            <div class="inner">
                <div class="top-menu clearfix">
                    <!-- 로고 -->
                    <h1>
                        <a href="/"></a>
                    </h1>
                    <!-- 로그인/회원가입 메뉴 -->
                    <ul class="top-menu-list clearfix">
                        <li>
                            <a href="">고객센터</a>
                        </li>
                        <li class="">
                            <a href="">로그아웃</a>
                        </li>
                    </ul>
                </div>

                <!-- navigation -->
                <div class="navigation clearfix">
                    <div class="left-menu">
                        <ul class="left-menu-list clearfix">
                            <li>
                                <a href="javascript:;" class="button-all-menu">
                                    <i></i>
                                </a>
                                <!-- javascript: click 하면 sub-nav-bg의 display none 제거 -->
                            </li>
    
                            <li class="active-fixed">
                                <a href="">홈</a>
                                <!-- onclick="GA_Event('기업공통_PC', 'gnb', '홈') -->
                            </li>
    
                            <li>
                                <a href="">프로그램 등록</a>
                                <!-- onclick -->
                            </li>

                            <li>
                                <a href="">프로그램 관리</a>
                                <!-- onclick -->
                                <div class="sub-nav">
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <a href="">전체 프로그램</a>
                                            </li>
                                            <li>
                                                <a href="">진행 중인 프로그램</a>
                                            </li>
                                            <li>
                                                <a href="">종료된 프로그램</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <a href="">지원자 관리</a>
                                <!-- onclick -->
                                
                            </li>
    
                            
                            <li>
                                <a href="">참여자 관리</a>
                                <!-- onclick -->
                            </li>

                            <li>
                                <a href="">커뮤니티</a>
                                <!-- onclick -->
                                <div class="sub-nav">
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <a href="">Q&A</a>
                                            </li>
                                            <li>
                                                <a href="">내 댓글 목록</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
    
                    <!-- 기업 이름(mypage) -->
                    <div class="right-menu logged-in">
                        <ul class="right-menu-list clearfix">
                            <li class="notification">
                                <a href="javascript:;" class="bell"></a>

                                <div class="notification-menu">
                                    <div class="notification-menu-body">
                                        <div class="no-notification">
                                            <div class="no-notification-content">
                                                <div class="no-notification-header">아직 신규 알림이 없네요!</div>
                                                <div class="no-notification-description">
                                                    계정에서 알림 설정을 하고,
                                                    <br>
                                                    TRY CATCH 의 새로운 소식을 받아보세요!
                                                </div>
                                                <a href="javascript:;" class="notification-setting-button">알림 설정</a>
                                            </div>
                                        </div>
                                        <!-- javascript: 알림이 없다면, active 추가 -->

                                        <div class="notification-list">
                                            <ul>
                                                <li>
                                                    <a href="javascript:;">
                                                        <div class="sender">
                                                            <span>admin</span>
                                                            <span class="new-badge">NEW</span>
                                                        </div>
                                                        <span class="preview">이 편지는 영국에서 최초로 시작되어 일년에 한 바퀴 돌면서 받는 사람에게 행운을 주었고 지금은 당신에게로 옮겨진 이 편지는 4일 안에 당신 곁을 떠나야 합니다.</span>
                                                    </a>
                                                    <!-- javascript: a태그 클릭 시, 알림창 나오도록(모달) -->
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <div class="sender">
                                                            <span>admin</span>
                                                            <span class="new-badge">NEW</span>
                                                        </div>
                                                        <span class="preview">이 편지는 영국에서 최초로 시작되어 일년에 한 바퀴 돌면서 받는 사람에게 행운을 주었고 지금은 당신에게로 옮겨진 이 편지는 4일 안에 당신 곁을 떠나야 합니다.</span>
                                                    </a>
                                                    <!-- javascript: a태그 클릭 시, 알림창 나오도록(모달) -->
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <div class="sender">
                                                            <span>admin</span>
                                                        </div>
                                                        <span class="preview">묵시록과 메시아주의의 차이는 우선 시간의 차이로 이해하는 것이 낫겠다. 아감벤에 따르면 묵시록이 '시간의 종말' 그리고 그와 이어지는 어떤 비세속적인 무의 시간을 상상한다면, 메시아주의는 이른바 '종말의 시간' 또는 '시간과 종말 사이에 남아 있는 시간'을 사유한다.</span>
                                                    </a>
                                                    <!-- javascript: a태그 클릭 시, 알림창 나오도록(모달) -->
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <div class="sender">
                                                            <span>admin</span>
                                                            <span class="new-badge">NEW</span>
                                                        </div>
                                                        <span class="preview">이 같은 상황에서 철학자는 현자의 절대적 평정에 결코 이르지 못할 것이다. 그러므로 철학함은 이 같은 고립과 무능을 고통스러워하는 것이 되리라. 그러나 고대 철학은 우리에게 포기하지 말고 계속 합리적으로 행동하며 지혜의 관념이라는 규준에 따라 살기 위해 노력하라고 가르친다.</span>
                                                    </a>
                                                    <!-- javascript: a태그 클릭 시, 알림창 나오도록(모달) -->
                                                </li>
                                            </ul>
                                            <div>

                                            </div>
                                        </div>
                                        <!-- javascript: 알림이 있다면, active 추가 -->
                                    </div>
                                </div>
                                <!-- javascript: click 시, active 추가(모달) -->
                            </li>
                            <li>
                                <a href="">기업 이름</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- sub-menu -->
            <div class="sub-nav-bg"></div>
            <div class="all-menu-modal">
                <div class="inner clearfix">
                    <div class="category">
                        <!-- onclick -->
                        <div class="title">
                            <a href="">프로그램 관리</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li>
                                <a href="">전체 프로그램</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">진행 중인 프로그램</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">종료된 프로그램</a>
                                <!-- onclick -->
                            </li>
                        </ul>
                    </div>

                    <div class="category">
                        <div class="title">
                            <a href="">인재 관리</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li class="">
                                <a href="">지원자 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">참여자 관리</a>
                                <!-- onclick  -->
                            </li>
                        </ul>
                    </div>
                    
                    <div class="category">
                        <div class="title">
                            <a href="">인재 찾기</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li class="">
                                <a href="">기술 블로그</a>
                                <!-- onclick -->
                            </li>
                            
                        </ul>
                    </div>

                    <div class="category">
                        <div class="title">
                            <a href="">커뮤니티</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li class="">
                                <a href="">Q&A</a>
                                <!-- onclick -->
                            </li>
                            <li class="">
                                <a href="">내 댓글 목록</a>
                                <!-- onclick -->
                            </li>
                            
                        </ul>
                    </div>


                    <div class="category">
                        <div class="title">
                            <a href="">마이페이지</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li>
                                <a href="">기업 프로필 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">담당자 정보 관리</a>
                                <!-- onclick  -->
                            </li>
                            <li>
                                <a href="">팀원 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">비밀번호 변경</a>
                                <!-- onclick -->
                            </li>
                                
                        </ul>
                    </div>

                    <a href="" class="write-button">프로그램 등록</a>
                </div>
            </div>
        </div>

        <!-- 모달 - 알림창 -->
        <div class="common-modal notification-modal">
            <div class="modal-dimmed"></div>
            <div class="modal-contents">
                <button class="close-button"></button>
                <div class="swiper-container swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="header">
                                <h2>admin</h2>
                                <div class="date">2026.01.16</div>
                            </div>
                            <div class="content">
                                이 편지는 영국에서 최초로 시작되어 일년에 한 바퀴 돌면서 받는 사람에게 행운을 주었고 지금은 당신에게로 옮겨진 이 편지는 4일 안에 당신 곁을 떠나야 합니다.<br>
                                이 편지를 포함해서 7통을 행운이 필요한 사람에게 보내 주셔야 합니다.<br>
                                복사를 해도 좋습니다. 혹 미신이라 하실지 모르지만 사실입니다.<br>
                                영국에서 HGXWCH이라는 사람은 1930년에 이 편지를 받았습니다.<br>
                                그는 비서에게 복사해서 보내라고 했습니다. 며칠 뒤에 복권이 당첨되어 20억을 받았습니다.<br>
                                어떤 이는 이 편지를 받았으나 96시간 이내 자신의 손에서 떠나야 한다는 사실을 잊었습니다.<br>
                                그는 곧 사직되었습니다. 나중에야 이 사실을 알고 7통의 편지를 보냈는데 다시 좋은 직장을 얻었습니다.<br>
                                미국의 케네디 대통령은 이 편지를 받았지만 그냥 버렸습니다. 결국 9일 후 그는 암살 당했습니다.<br>
                                기억해 주세요. 이 편지를 보내면 7년의 행운이 있을 것이고 그렇지 않으면 3년의 불행이 있을 것입니다.<br>
                                그리고 이 편지를 버리거나 낙서를 해서는 절대로 안됩니다. 7통입니다.<br>
                                이 편지를 받은 사람은 행운이 깃들 것입니다. 힘들겠지만 좋은게 좋다고 생각하세요.<br>
                                7년의 행운을 빌면서...
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="header">
                                <h2>admin</h2>
                                <div class="date">2026.01.12</div>
                            </div>
                            <div class="content">
                                이 편지는 영국에서 최초로 시작되어 일년에 한 바퀴 돌면서 받는 사람에게 행운을 주었고 지금은 당신에게로 옮겨진 이 편지는 4일 안에 당신 곁을 떠나야 합니다.<br>
                                이 편지를 포함해서 7통을 행운이 필요한 사람에게 보내 주셔야 합니다.<br>
                                기억해 주세요. 이 편지를 보내면 7년의 행운이 있을 것이고 그렇지 않으면 3년의 불행이 있을 것입니다.<br>
                                그리고 이 편지를 버리거나 낙서를 해서는 절대로 안됩니다. 7통입니다.<br>
                                이 편지를 받은 사람은 행운이 깃들 것입니다. 힘들겠지만 좋은게 좋다고 생각하세요.<br>
                                7년의 행운을 빌면서...
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="header">
                                <h2>admin</h2>
                                <div class="date">2025.12.03</div>
                            </div>
                            <div class="content">
                                묵시록과 메시아주의의 차이는 우선 시간의 차이로 이해하는 것이 낫겠다. 아감벤에 따르면 묵시록이 '시간의 종말' 그리고 그와 이어지는 어떤 비세속적인 무의 시간을 상상한다면, 메시아주의는 이른바 '종말의 시간' 또는 '시간과 종말 사이에 남아 있는 시간'을 사유한다. 그것은 여전히 세속적인 시간처럼 보이지만, 실제로는 세속적인 것과 구분이 안 되는 형식적으로 존재하는 시간이다. 메시아주의 서사나 담론은 묵시록적인 파국의 환상을 특별히 동반할 필요가 없다. 묵시록적 파국의 환상 속에서 시간은 보통 그것의 종말이 앞당겨지기를 원하는 욕망으로 지탱되며, 이러한 욕망의 기대 지평에 알맞은 환상을 창출한다. 시간의 종말을 앞당기는 플롯으로 짜인 묵시록. 그럼에도 이 구분이 여전히 너무 어렵게 느껴진다면, 묵시록의 대중문화 버전인 좀비 아포칼립스에 구현된 시간을 한번 상상해보면 좋겠다. 예를 들면 대니 보일 감독의 영화 <28일 후>(28 days later, 2002)나 미국 TV 시리즈물인 <워킹 데드>에서 인간 대부분이 파멸하거나 좀비로 변한 뒤에 찾아오는 불편한 고요함이나 인간이 사라진 자연의 이미저리가 주는 무상함 등을. <br>[출처] 짧고 긴 글 모음|작성자 Pete
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="header">
                                <h2>admin</h2>
                                <div class="date">2025.11.18</div>
                            </div>
                            <div class="content">
                                이 같은 상황에서 철학자는 현자의 절대적 평정에 결코 이르지 못할 것이다. 그러므로 철학함은 이 같은 고립과 무능을 고통스러워하는 것이 되리라. 그러나 고대 철학은 우리에게 포기하지 말고 계속 합리적으로 행동하며 지혜의 관념이라는 규준에 따라 살기 위해 노력하라고 가르친다. 무슨 일이 닥치든지, 설령 우리 행위가 지극히 제한된 것으로 보일지라도. 하여, 마르쿠스 아우렐리우스는 이렇게 말한다. "플라톤의 이상 국가를 기대하지 말고 그저 사소한 노력이 결실을 맺으면 만족할 것이며 그 성과를 하찮은 것으로 여기지 말라."<br>[출처] 짧고 긴 글 모음|작성자 Pete
                            </div>
                        </div>
                    </div>
                    <!-- javascript: 버튼 클릭 시, 이동(슬라이드) -->
                </div>
                <div class="swiper-button swiper-button-next"></div>
                <div class="swiper-button swiper-button-prev"></div>
                <!-- javascript: 다음/이전 알림이 없으면 swiper-button-disabled 추가 -->
            </div>
        </div>
        <!-- javascript: 알림창 클릭 시, active 클래스 추가 -->
    </div>
</body>
<script src="/static/js/corporate/header/event.js"></script>
<script src="/static/js/corporate/notification/event.js"></script>
</html>