<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRY-CATCH 체험 서비스 - 새로운 인재 채용 전략 | TRY-CATCH</title>
    <link rel="stylesheet" href="/static/css/corporate/header.css">
    <link rel="stylesheet" href="/static/css/corporate/footer.css">
    <link rel="stylesheet" href="/static/css/corporate/home.css">
    <link rel="shortcut icon" href="https://www.jobkorea.co.kr/favicon.ico?202601061400" type="image/x-icon">
</head>
<body>
    <div id="wrap">
        <!-- 헤더 -->

        <!-- 알림 (공고, 공지사항) -->
        <div class="top-notice-section">
            <!-- javascript: 슬라이드 배너 -->
            <div class="inner clearfix">
                <div class="notice-box">
                    <div class="swiper-container swiper-container-vertical">
                        <div class="swiper-wrapper">
                            <!-- 배너 -->
                            <!-- <div class="swiper-slide swiper-slide-duplicate">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> TRY-CATCH 개인정보처리방침 개정 안내
                                </a>
                            </div> -->
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [VOICE WANTED] 보이스피싱범 목소리 공개수배
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [공지] 기업회원 대상 상품 일부 가격조정 안내
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [무료] TRY-CATCH 더 리부트 컨퍼런스ㅣAI로 채용을 새롭게
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> TRY-CATCY 개인정보처리방침 개정 안내
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [VOICE WANTED] 보이스피싱범 목소리 공개수배
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- server: 비로그인 시에만 나타나도록 -->
        <!-- <div class="start-section">
            <div class="inner">
                <div class="border-round-section devCorpLogin">
                    <div class="title-box">
                        지금,
                        <strong>우리기업의 인재</strong>
                        를 찾아보세요
                    </div>
                    <div class="button-box clearfix">
                        <span class="">
                            <a href="" class="blue">로그인</a>
                        </span>
                        <a href="">회원가입</a>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- 배너 -->
        <!-- server: 로그인 시에만 나타나도록 -->
        <div class="row-article">
            <div class="inner">
                <div class="col-3-section">
                    <div class="banner-smartfit-notice">
                        <a href="" target="_blank" class="smartfit-banner-link">
                            <img src="/static/images/corporate/banner-smartfit-home.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 알림 (현황, 상품), 기업 이름/로고 -->
        <!-- server: 로그인 시에만 나타나도록 -->
        <div class="row-article">
            <div class="inner">
                <div class="col-3-section">
                    <div class="info-section">
                        <div class="border-round-section border-round-section-v2">
                            <div class="contents-box notService">
                                <a href="">
                                    <div class="logo">
                                        <!-- 로고 이미지 없을 시 -->
                                        <img src="/static/images/corporate/logo_default.png">
                                    </div>
                                </a>
                                <div class="company">
                                    <span class="text">기업 이름</span>
                                </div>
                                <!-- server: 버튼 클릭 시, 기업 프로필 페이지로 이동 -->
                                <a href="" class="setting-button"></a>
                                <!-- onclick -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 공고·지원자 관리 /신규 지원자 / 읽어 볼만한 HR 최신 정보 -->
        <!-- server: 로그인 시에만 나타나도록 -->
        <div class="row-article">
            <div class="inner clearfix">
                <div class="col-1-large-section">
                    <!-- 공고·지원자 관리 -->
                    <div class="current-section">
                        <div class="border-round-section">
                            <div class="current-data-wrap">
                                <div class="current-data">
                                    <h5>프로그램 현황</h5>
                                    <ul>
                                        <!-- server, javascript: 진행중 공고가 0이면 data-none 클래스 추가 -->
                                        <li class="data-none">
                                            <a href="">
                                                <!-- server: 체험 개수 반영 -->
                                                <strong>0</strong>
                                                <p>진행중 체험</p>
                                            </a>
                                            <!-- onclick -->
                                        </li>
                                        <!-- server, javascript: 진행중 체험이 0이면 data-none 클래스 추가 -->
                                        <!-- <li class="">
                                            <a href="">
                                                <strong>1</strong>
                                                <p>미열람 이력서</p>
                                            </a> -->
                                            <!-- onclick -->
                                        <!-- </li> -->
                                    </ul>
                                </div>
                                <div class="current-data">
                                    <h5>인재 관리 현황</h5>
                                    <ul>
                                        <!-- server, javascript: 진행중 공고가 0이면 data-none 클래스 추가 -->
                                        <li class="data-none">
                                            <a href="">
                                                <strong>0</strong>
                                                <p>승인 대기 지원자</p>
                                            </a>
                                            <!-- onclick -->
                                        </li>
                                        <!-- server, javascript: 진행중 체험이 0이면 data-none 클래스 추가 -->
                                        <li class="data-none">
                                            <a href="">
                                                <strong>0</strong>
                                                <p>승급 대기 참여자</p>
                                            </a>
                                            <!-- onclick -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recruit-section recruit-normal">
                        <div class="border-round-section">
                            <!-- server, javascript: 진행중인 공고이 없을 경우 -->
                            <!-- <div class="data-none-box">
                                <div class="contents-box">
                                    <div class="icon jobko-1"></div>
                                    <div class="title">진행중인 일반 공고이 없습니다.</div>
                                    <div class="text">인재를 채용할 계획이 있으신가요?</div>
                                    <ul class="button-list clearfix">
                                        <li>
                                            <a href="" class="btn-blue">프로그램 등록</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->

                            <!-- server, javascript: 진행중인 프로그램이 있을 경우 -->
                            <div class="data-box">
                                <ul>
                                    <li>
                                        <a href="" target="_blank" class="list-cell">
                                            <div class="list-content">
                                                <div class="title">백엔드 개발 체험 프로그램</div>
                                                <div class="description">
                                                    <span>프로그램 한 줄 문구</span>
                                                </div>
                                                <div class="info">
                                                    <span>체험형</span>
                                                    <span>4주</span>
                                                    <span>D-7</span>
                                                    <span>15명</span>
                                                </div>
                                                <div class="tagbox">
                                                    <span class="tag">모집중</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank" class="list-cell">
                                            <div class="list-content">
                                                <div class="title">백엔드 개발 체험 프로그램</div>
                                                <div class="description">
                                                    <span>프로그램 한 줄 문구</span>
                                                </div>
                                                <div class="info">
                                                    <span>체험형</span>
                                                    <span>4주</span>
                                                    <span>D-7</span>
                                                    <span>15명</span>
                                                </div>
                                                <div class="tagbox">
                                                    <span class="tag">모집중</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank" class="list-cell">
                                            <div class="list-content">
                                                <div class="title">백엔드 개발 체험 프로그램</div>
                                                <div class="description">
                                                    <span>프로그램 한 줄 문구</span>
                                                </div>
                                                <div class="info">
                                                    <span>체험형</span>
                                                    <span>4주</span>
                                                    <span>D-7</span>
                                                    <span>15명</span>
                                                </div>
                                                <div class="tagbox">
                                                    <span class="tag">모집중</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank" class="list-cell">
                                            <div class="list-content">
                                                <div class="title">백엔드 개발 체험 프로그램</div>
                                                <div class="description">
                                                    <span>프로그램 한 줄 문구</span>
                                                </div>
                                                <div class="info">
                                                    <span>체험형</span>
                                                    <span>4주</span>
                                                    <span>D-7</span>
                                                    <span>15명</span>
                                                </div>
                                                <div class="tagbox">
                                                    <span class="tag">모집중</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank" class="list-cell">
                                            <div class="list-content">
                                                <div class="title">백엔드 개발 체험 프로그램</div>
                                                <div class="description">
                                                    <span>프로그램 한 줄 문구</span>
                                                </div>
                                                <div class="info">
                                                    <span>체험형</span>
                                                    <span>4주</span>
                                                    <span>D-7</span>
                                                    <span>15명</span>
                                                </div>
                                                <div class="tagbox">
                                                    <span class="tag">모집중</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank" class="list-cell">
                                            <div class="list-content">
                                                <div class="title">백엔드 개발 체험 프로그램</div>
                                                <div class="description">
                                                    <span>프로그램 한 줄 문구</span>
                                                </div>
                                                <div class="info">
                                                    <span>체험형</span>
                                                    <span>4주</span>
                                                    <span>D-7</span>
                                                    <span>15명</span>
                                                </div>
                                                <div class="tagbox">
                                                    <span class="tag">모집중</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank" class="list-cell">
                                            <div class="list-content">
                                                <div class="title">백엔드 개발 체험 프로그램</div>
                                                <div class="description">
                                                    <span>프로그램 한 줄 문구</span>
                                                </div>
                                                <div class="info">
                                                    <span>체험형</span>
                                                    <span>4주</span>
                                                    <span>D-7</span>
                                                    <span>15명</span>
                                                </div>
                                                <div class="tagbox">
                                                    <span class="tag">모집중</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank" class="list-cell">
                                            <div class="list-content">
                                                <div class="title">백엔드 개발 체험 프로그램</div>
                                                <div class="description">
                                                    <span>프로그램 한 줄 문구</span>
                                                </div>
                                                <div class="info">
                                                    <span>체험형</span>
                                                    <span>4주</span>
                                                    <span>D-7</span>
                                                    <span>15명</span>
                                                </div>
                                                <div class="tagbox">
                                                    <span class="tag">모집중</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank" class="list-cell">
                                            <div class="list-content">
                                                <div class="title">백엔드 개발 체험 프로그램</div>
                                                <div class="description">
                                                    <span>프로그램 한 줄 문구</span>
                                                </div>
                                                <div class="info">
                                                    <span>체험형</span>
                                                    <span>4주</span>
                                                    <span>D-7</span>
                                                    <span>15명</span>
                                                </div>
                                                <div class="tagbox">
                                                    <span class="tag">모집중</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-1-large-section">
                    <!-- 원픽 신청 및 지원자 영역 -->
                    <div class="recruit-section onepick-account dev-onepick-home-resumelist">
                        <div class="border-round-section">
                            <!-- header -->
                            <div class="onepick-account-header">
                                <!-- onclick -->
                                <h2>좋은 프로그램, 지금 등록하세요!</h2>
                                <p>프로그램 등록부터 참여자 관리까지, 한 번에 해결합니다.</p>
                                <a href="" class="button-regist">프로그램 등록</a>
                            </div>

                            <!-- service -->
                            <div class="onepick-account-service">
                                <a href="" class="button-service">TRY-CATCH 서비스 소개</a>
                                <!-- onclick -->
                                <ul>
                                    <li>
                                        <div class="account-service-title">
                                            <span>간편한</span> 프로그램 등록
                                        </div>
                                        <p>몇 번의 클릭만으로 프로그램을 등록할 수 있습니다.</p>
                                    </li>
                                    <li>
                                        <div class="account-service-title">
                                            참여자 현황 <span>실시간</span> 확인
                                        </div>
                                        <p>신청 현황과 승인 상태를 한눈에 확인할 수 있습니다.</p>
                                    </li>
                                    <li>
                                        <div class="account-service-title">
                                            <span>체계적인</span> 참여자 관리
                                        </div>
                                        <p>승인, 거부, 체험 관리까지 손쉽게 진행할 수 있습니다.</p>
                                    </li>
                                </ul>
                            </div>

                            <!-- 기업 후기 -->
                            <div class="onepick-account-review">
                                <h3>
                                    <span class="title-ico">
                                        <img src="/static/images/corporate/review_company_ico01.png">
                                    </span>
                                    <span class="title-ico">
                                        <img src="/static/images/corporate/review_company_ico02.png">
                                    </span>
                                    <span class="title-ico">
                                        <img src="/static/images/corporate/review_company_ico03.png">
                                    </span>
                                    원픽으로 채용 성공한 기업들의 후기
                                </h3>
                                <div class="swiper-container onepick-account-swiper swiper-container-horizontal">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <p>
                                                이전에는 엑셀로 참여자 명단을 관리했는데, 이제는
                                                <span class="txt-b">한 페이지에서 신청 현황부터 승인까지 모두 처리</span>할 수 있어서 업무 효율이 크게 올랐습니다.
                                            </p>
                                            <span class="company">D사 채용담당자</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>
                                                참여자가 많아질수록 관리가 힘들었는데,
                                                <span class="txt-b">승인 상태별로 필터링</span>이 가능해서 필요한 정보만 빠르게 확인할 수 있어 좋습니다.
                                            </p>
                                            <span class="company">A사 채용담당자</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>
                                                프로그램 등록이 정말 간편합니다.
                                                <span class="txt-b">복잡한 절차 없이 몇 분 만에 등록을 완료</span>할 수 있어서 시간 낭비가 없습니다.
                                            </p>
                                            <span class="company">T사 채용담당자</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>
                                                <span class="txt-b">참여자 자기소개서를 바로 확인</span>할 수 있어서 서류 검토 시간이 단축되었습니다.
                                                승인 여부를 빠르게 결정할 수 있어 좋습니다.
                                            </p>
                                            <span class="company">E사 채용담당자</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>
                                                체험 프로그램 운영 시 <span class="txt-b">중도 탈락자 관리</span>가 어려웠는데,
                                                <span class="txt-b">상태별로 구분</span>되어 있어서 히스토리 파악이 쉬워졌습니다.
                                            </p>
                                            <span class="company">P사 채용담당자</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>
                                                여러 부서에서 함께 참여자를 관리해야 하는데, <span class="txt-b">팀원 초대 기능</span> 덕분에 협업이 훨씬 수월해졌습니다.
                                            </p>
                                            <span class="company">G사 채용담당자</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="swiper-button-area">
                                    <div class="swiper-button-prev swiper-button-disabled"></div>
                                    <div class="swiper-button-next"></div>
                                    <!-- javascript: 이전/다음 후기가 없을 경우, button에 swiper-button-disabled 클래스 추가 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 서비스 소개 -->
        <div class="solution-section">
            <div class="inner clearfix">
                <div class="title-box">
                    <strong>TRY-CATCH</strong>
                    <br>
                    <strong>체험 서비스</strong>를
                    <br>
                    소개합니다. 
                </div>
                <ul class="start-list clearfix">
                    <li>
                        <div class="contents-box">
                            <div class="texts">
                                <h2>
                                    <!-- <span>채용 업무 시간 87.5% 단축!</span> -->
                                    실무 경험으로 인재를 검증!
                                    <br>
                                    TRY-CATCH와 함께 인재를 찾아보세요
                                </h2>
                                <p>
                                    체험 프로그램을 통해 인재의 실력과 적합성을 미리 확인하고
                                    <br>
                                    우리 회사에 꼭 맞는 인재를 찾아보세요.
                                    <!-- <a href="" target="_blank" class="link"><span>무료로 시작하기</span><i class="icon arrow"></i></a> -->
                                </p>
                            </div>
                            <!-- <p class="source">출처 : 2022.10.21 고객사 건일제약 인터뷰</p> -->
                        </div>
                    </li>

                    <li>
                        <div class="contents-box">
                            <div class="text-box">
                                <div class="title">
                                    간편한
                                    <br>
                                    <strong>프로그램 등록</strong>
                                </div>
                                <div class="description">
                                    원하는 프로그램을
                                    <br>
                                    빠르게 등록하고 관리하기
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="contents-box">
                            <div class="text-box">
                                <div class="title">
                                    채용 전에,
                                    <br>
                                    <strong>미리 검증하는 인재</strong>
                                </div>
                                <div class="description">
                                    서류와 면접만으로 판단하기 어려운 역량을
                                    <br>
                                    체험 프로그램을 통해 사전에 확인할 수 있습니다.
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="contents-box">
                            <div class="text-box">
                                <div class="title">
                                    쉽고 정확한
                                    <br>
                                    <strong>지원자 관리</strong>
                                </div>
                                <div class="description">
                                    지원부터 참여 확정까지 
                                    <br>
                                    모든 단계를 한눈에 관리하기
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="contents-box">
                            <div class="text-box">
                                <div class="title">
                                    빠른
                                    <br>
                                    <strong>인재 찾기</strong>
                                </div>
                                <div class="description">
                                    기술 블로그를 통한
                                    <br>
                                    우리 회사에 어울리는 인재 찾기
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="contents-box">
                            <div class="text-box">
                                <div class="title">
                                    유연한
                                    <br>
                                    <strong>단계 설정</strong>
                                </div>
                                <div class="description">
                                    체험/인턴/계약직/정규직까지,
                                    <br>
                                    원하는 만큼만 설정하는 체험 유형
                                </div>
                            </div>
                        </div>
                    </li>

                    
                </ul>
            </div>
        </div>

        <!-- 배너 -->
        <div class="row-article">
            <div class="inner clearfix">
                <div class="col-2-section">
                    <!-- 이벤트 배너 -->
                    <div class="event-banner-section">
                        <div class="border-round-section clearfix">
                            <div class="ad-container divAdBnnr_16_0">
                                <a href="">
                                    <img src="/static/images/corporate/banner.png">
                                </a>
                                <!-- javascript -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-small-section">
                    <!-- TRY-CATCH 배너 -->
                    <div class="sub-banner-section">
                        <div class="border-round-section clearfix">
                            <a href="" target="_blank">
                                <div class="description">하루 하루 쌓여가는 학습 기록</div>
                                <div class="title">TRY-CATCH 기술 블로그</div>
                            </a>
                            <!-- onclick -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 서비스 Q&A -->
        <div class="service-section">
            <div class="inner">
                <h2 class="common-h2">TRY-CATCH 서비스가 궁금해요!</h2>
                <ul class="service-list clearfix">
                    <li>
                        <button>
                            <div class="number">1</div>
                            <div class="text">
                                프로그램 등록은
                                <br>
                                절차가 어떻게 되나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">2</div>
                            <div class="text">
                                어떤 유형의 프로그램을
                                <br>
                                만들 수 있나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">3</div>
                            <div class="text">
                                프로그램 기간은
                                <br>
                                어떻게 되나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">4</div>
                            <div class="text">
                                커뮤니티로 우리 회사를
                                <br>
                                알릴 수 있는 방법이 있나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">5</div>
                            <div class="text">
                                지원자는
                                <br>
                                어떻게 관리하나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">6</div>
                            <div class="text">
                                참여 확정 후, 참여자 관리는
                                <br>
                                어떻게 하나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">7</div>
                            <div class="text">
                                어떤 인재들이
                                <br>
                                지원하나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">8</div>
                            <div class="text">
                                프로그램 외에도
                                <br>
                                인재를 찾을 수 있는 방법이 있나요?
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- 공지사항, FAQ, 고객센터 -->
        <div class="row-article">
            <div class="bottom-article">
                <div class="inner clearfix">
                    <div class="bottom-section col-3-section clearfix">
                        <!-- 공지사항 -->
                        <div class="bottom-notice-section">
                            <h2 class="common-h2">
                                공지사항
                                <a href="">더보기</a>
                            </h2>
                            <ul class="board-list">
                                <li>
                                    <a href="" class="clearfix">
                                        <div class="title">[필독] 동남아 취업사기에 유의하세요.</div>
                                        <div class="date">2025.10.01</div>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        <div class="title">[개인정보보호로 안전한 직장 만들기] 인사-노무 담당자 필수조치 사항 안내</div>
                                        <div class="date">2025.09.30</div>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        <div class="title">[안전한 알바몬과 TRY-CATCH 만들기] 기업회원의 개인정보 안정성확보조치 안내</div>
                                        <div class="date">2025.09.30</div>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        <div class="title">2025년 임금체불 사업주 1차 명단 공개</div>
                                        <div class="date">2025.09.26</div>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        <div class="title">[무료] TRY-CATCH 더 리부트 컨퍼런스ㅣAI로 채용을 새롭게</div>
                                        <div class="date">2026.01.06</div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- FAQ -->
                        <div class="faq-section">
                            <h2 class="common-h2">
                                FAQ
                                <a href="">더보기</a>
                            </h2>
                            <ul class="board-list">
                                <li>
                                    <a href="" class="clearfix">
                                        가입자 변경 내역을 확인하고 싶습니다.
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        지원자로부터 이력서 삭제 요청을 받았습니다. 어떻게 삭제하나요?
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        포지션제안 서비스를 구매했는데, 어떻게 사용하나요?
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        계정에서 발생한 지원자 개인정보 접속기록을 확인하고 싶으면 어떻게 해야하나요?
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        간편결제가 무엇인가요?
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- 고객센터 -->
                        <div class="center-section">
                            <h2 class="common-h2">고객센터</h2>
                            <div class="number">1234-5678</div>
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Time</th>
                                        <td>
                                            <ul class="line-list clearfix">
                                                <li>평일 09시 - 19시</li>
                                                <li>토요일 09시 - 15시</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Fax</th>
                                        <td>02-111-1111</td>
                                    </tr>
                                    <tr>
                                        <th>E-mail</th>
                                        <td>
                                            <a href="">test@.com</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 모달 - 서비스 Q&A -->
        <div class="common-modal service-modal">
            <div class="modal-dimmed"></div>
            <div class="modal-contents">
                <button class="close-button"></button>
                <div class="swiper-container swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <h2>1. 프로그램을 등록하고 싶은데 절차가 어떻게 되나요?</h2>
                            <div class="contents">
                                <div class="text">
                                    프로그램 등록을 원하시면 기업회원 ID로 로그인을 먼저 해주세요.
                                </div>
                                <ul class="step-list clearfix">
                                    <li>기업 회원가입</li>
                                    <li>로그인</li>
                                    <li>체험 등록양식 작성</li>
                                    <li>등록 완료</li>
                                </ul>
                                <div class="text">
                                    ID가 없으시면 먼저 회원가입부터 진행하여 주세요. 회원가입은 <strong>무료</strong>입니다. <br>
                                    로그인하신 후 프로그램 등록 페이지로 이동하셔서 체험 내용을 입력하신 후 체험 등록완료 버튼을 클릭하시면 됩니다.
                                </div>
                                <div class="text">
                                    프로그램 등록에 대한 별도 등록비용은 없으며, 무료로 등록하신 프로그램은 선택하신 업·직종 및 상세지역 등의 체험정보 리스트에서 게재되어
                                    구직자에게 노출됩니다.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h2>2. 어떤 유형의 프로그램을 등록할 수 있나요?</h2>
                            <div class="contents">
                                <div class="text">
                                    다양한 유형의 프로그램을 등록하여 참여자를 모집할 수 있습니다.
                                </div>
                                <ul class="number-list">
                                    <li>
                                        <div class="number">1.</div>
                                        단순 체험에서 계약직, 인턴, 정규직까지, 인재를 찾기 위한 <strong>다양한 유형</strong>의 프로그램을 등록할 수 있습니다.
                                    </li>
                                    <li>
                                        <div class="number">2.</div>
                                        프로그램 등록 시 모집 인원, 체험 기간, 참여 조건 등을 <strong>자유롭게 설정</strong>할 수 있습니다.
                                    </li>
                                    <li>
                                        <div class="number">3.</div>
                                        기업회원 가입은 
                                        <strong>무료</strong>이며, 가입 후 기업회원 프로그램 등록 및 지원자/참여자 관리 기능을 이용할 수 있습니다.
                                    </li>
                                    <li>
                                        <div class="number">4.</div>
                                        프로그램 관리에선 프로그램 운영에 필요한 모든 기능을 제공하고 있습니다.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h2>3. 프로그램 기간은 어떻게 설정하나요?</h2>
                            <div class="contents">
                                <div class="text">
                                    프로그램 기간은 등록 시 자유롭게 설정할 수 있습니다.
                                </div>
                                <ul class="number-list">
                                    <li>
                                        <div class="number">1.</div>
                                        프로그램 등록 시 모집 기간과 체험 기간을 직접 설정할 수 있습니다.
                                    </li>
                                    <li>
                                        <div class="number">2.</div>
                                        <strong>모집 기간은 참여자 신청을 받는 기간</strong>이며,  <strong>체험 기간은 실제 프로그램이 진행되는 기간</strong>입니다.

                                    </li>
                                    <li>
                                        <div class="number">3.</div>
                                        단기(1일~1주), 중기(1개월~3개월), 장기(3개월 이상) 등 프로그램 성격에 맞게 기간을 설정하실 수 있습니다.
                                    </li>
                                    <li>
                                        <div class="number">4.</div>
                                        프로그램 <strong>진행 중에도 기간 수정이 가능</strong>합니다.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h2>4. 커뮤니티로 우리 회사를 알릴 수 있는 방법이 있나요?</h2>
                            <div class="contents">
                                <div class="text">
                                    Q&A 커뮤니티 활동을 통해 기업을 무료로 홍보할 수 있습니다.
                                </div>
                                <ul class="number-list">
                                    <li>
                                        <div class="number">1.</div>
                                        Q&A 커뮤니티에서 구직자들의 질문에 답변을 작성하실 수 있습니다.
                                    </li>
                                    <li>
                                        <div class="number">2.</div>
                                        <strong>양질의 답변</strong>을 꾸준히 작성하시면 내부 회의를 통해 메인 페이지 및 커뮤니티 페이지에 <strong>기업 광고가 무료로 노출</strong>됩니다.

                                    </li>
                                    <li>
                                        <div class="number">3.</div>
                                        답변 활동은 기업 <strong>이미지 향상</strong>에도 도움이 되며, 구직자에게 신뢰감 있는 기업으로 인식될 수 있습니다.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h2>5. 지원자 관리는 어떻게 하나요?</h2>
                            <div class="contents">
                                <div class="text">
                                    프로그램에 신청한 지원자는 참여자 관리 페이지에서 관리하실 수 있습니다.
                                    <ul class="step-list clearfix">
                                        <li>프로그램 관리</li>
                                        <li>해당 프로그램 더보기 버튼</li>
                                        <li>지원자 관리</li>
                                    </ul>
                                    <br>
                                    지원자 목록에서 이름, 자기소개서, 승인 일자 등을 확인하신 후 승인 또는 반려 처리를 하실 수 있습니다.
                                    <br>
                                    승인된 지원자는 자동으로 참여자 목록으로 이동되며, 이후 체험 관리를 진행하실 수 있습니다.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h2>6. 참여자 관리는 어떻게 하나요?</h2>
                            <div class="contents">
                                <div class="text">
                                    프로그램에 신청한 참여자 관리는 참여자 관리 페이지에서 관리하실 수 있습니다.
                                    <ul class="step-list clearfix">
                                        <li>프로그램 관리</li>
                                        <li>해당 프로그램 더보기 버튼</li>
                                        <li>참여자 관리</li>
                                    </ul>
                                    <br>
                                    참여자 목록에서 이름, 자기소개서, 참여자의 상태(참여중, 승급대기중 등)를 확인하고 관리하실 수 있습니다.
                                    <br>
                                    상태별 필터 기능을 통해 원하는 참여자만 조회하실 수 있으며, 검색 기능으로 특정 참여자를 빠르게 찾을 수 있습니다.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h2>7. 어떤 인재들이 프로그램에 참여하나요?</h2>
                            <div class="contents">
                                <div class="text">
                                    취업을 준비하는 <strong>다양한 구직자들</strong>이 프로그램에 참여하고 있습니다.<br>
                                    대학생, 졸업예정자, 취업준비생, 이직희망자 등 다양한 배경의 인재들이 직무 체험 및 경력 개발을 위해 신청합니다.<br>
                                    지원자의 <strong>자기소개서를 통해</strong> 지원 동기, 관심 분야, 역량 등을 확인하신 후
                                    <strong>프로그램에 적합한 인재를 선별</strong>하실 수 있습니다.<br>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h2>8. 채용공고를 대신 등록해 줄 수 있나요?</h2>
                            <div class="contents">
                                <div class="text">
                                    프로그램 참여 여부와 관계없이, 기술 블로그를 통해 다양한 인재를 만날 수 있습니다.<br>
                                    기술 블로그는 개인 회원이 프로그램을 체험하며 배운 점, 문제를 해결한 과정, 스스로 학습한 기술 등을 자유롭게 기록하고 공유하는 공간입니다.<br><br>

                                    단순한 결과물이 아니라 <strong>학습 과정과 사고 방식, 성장 가능성</strong>을 확인할 수 있어<br>
                                    기업은 이력서만으로는 알기 어려운 지원자의 역량과 태도를 미리 살펴볼 수 있습니다.<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- javascript: 다음/이전 없으면 swiper-button-disabled 클래스 추가 -->
            </div>

        </div>
        <!-- javascript: 클릭 시, active 클래스 추가 -->

        <!-- footer -->
        
    </div>
</body>
<script src="/static/js/corporate/home/event.js"></script>
</html>