<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업회원 홈 | 잡코리아</title>
    <link rel="stylesheet" href="/static/css/corporate/home-logged-in.css">
</head>
<body>
    <div id="wrap">
        <!-- 헤더 -->
        <!-- 알림(공고, 공지사항) -->

        <!-- 캘린더 바로가기, 사이드바 -->
        <div class="side-banner-wrap">
            <div class="right-banner">
                <div class="container">
                    <!-- quick 상담 -->
                    <div class="quick-counsel">
                        <div class="quick-counsel-user">
                            <ul>
                                <li>
                                    <i class="icon-counsel"></i>
                                </li>
                                <li>
                                    <span class="user-text">잡코리아 고객센터</span>
                                    <strong>1588-9350</strong>
                                </li>
                            </ul>
                        </div>

                        <div class="quick-counsel-opentime">
                            <ul>
                                <li>
                                    <span class="text">평일</span>
                                    <span class="time">09:00~19:00</span>
                                </li>
                                <li>
                                    <span class="text">토요일</span>
                                    <span class="time">09:00~15:00</span>
                                </li>
                            </ul>
                        </div>

                        <div class="quick-counsel-button">
                            <button type="button" class="btn devLeftInquiryBtn devPrdtInqryBtn">문의하기</button>
                            <!-- onclick -->
                        </div>
                    </div>

                    <!-- quick 캘린더(면접 일정) -->
                    <div class="quick-calendar">
                        <p class="today-text">
                            <i class="icon-calendar"></i>
                            01.19
                        </p>
                        <a href="">
                            <h5 class="schedule-text">
                                오늘 면접 일정 <em class="">0</em>건
                            </h5>
                        </a>
                        <!-- onclick -->
                         <a href="" class="btn-link">
                            캘린더 바로가기
                            <i class="icon-link">
                            </i>
                         </a>
                        <!-- onclick -->
                    </div>

                    <!-- 나인하이어 -->
                    <div class="ninehire-banner">
                        <div class="logo"></div>
                        <div class="texts">
                            <h2>
                                <span>채용 업무 시간 87.5% 단축</span>
                                <br>
                                채용 오퍼레이션의
                                <br>
                                완벽한 자동화,
                                <br>
                                나인하이어
                            </h2>
                        </div>
                        <p class="source">
                            출처 : 2022.10.21
                            <br>
                            고객사 건일제약 인터뷰
                        </p>
                        <div class="link-bottom">
                            <a href="" target="_blank" class="link">
                                <span>무료로 시작하기</span>
                                <i class="icon arrow"></i>
                            </a>
                            <!-- onclick -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- javascript: 스크롤 시, fixed 클래스 추가 -->
        </div>

        <!-- //캘린더 바로가기, 배너 -->
        <div class="row-article">
            <div class="inner">
                <div class="col-3-section">
                    <div class="banner-smartfit-notice">
                        <a href="" target="_blank" class="smartfit-banner-link">
                            <img src="https://i.jobkorea.kr/content/images/corporate/smartfit/banner-smartfit-home.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 알림 (현황, 상품), 기업 이름/로고 -->
        <div class="row-article">
            <div class="inner">
                <div class="col-3-section">
                    <div class="info-section">
                        <div class="border-round-section border-round-section-v2">
                            <div class="contents-box notService">
                                <a href="">
                                    <div class="logo">
                                        <!-- 로고 이미지 없을 시 -->
                                        <img src="https://i.jobkorea.kr/content/images/corporate/main_v2/logo_default.png">
                                    </div>
                                </a>
                                <div class="company">
                                    <span class="text">기업 이름</span>
                                </div>
                                <ul class="line-list clearfix">
                                    <!-- 유료서비스 미 사용 시 li에 pdt_none 클래스 추가 해주세요??? -->
                                    <li class="pdt_none">
                                        <span class="title">유능한 인재를 빠르게 채용하는 방법!</span>
                                    </li>
                                    <li>
                                        <!-- 유료서비스 미 사용 시 아래 버튼 출력 -->
                                        <a href="" class="btn link_product">
                                            채용상품 보러 가기
                                        </a>
                                        <!-- onclick -->
                                    </li>
                                </ul>
                                <a href="" class="setting-button"></a>
                                <!-- onclick -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 기업인증배너 -->
        <!-- <div class="row-article">
            <div class="inner clearfix">
                <div class="col-3-section">
                    <div class="main-banner-certify">
                        <a href="">
                            <img src="https://i.jobkorea.kr/content/images/corporate/main_v2/company_certify_banner.png">
                        </a>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- 공고·지원자 관리 /신규 지원자 / 읽어 볼만한 HR 최신 정보 -->
        <div class="row-article">
            <div class="inner clearfix">
                <div class="col-1-large-section">
                    <!-- 공고·지원자 관리 -->
                    <div class="current-section">
                        <div class="border-round-section">
                            <div class="current-data-wrap">
                                <div class="current-data">
                                    <h5>일반 채용 현황</h5>
                                    <ul>
                                        <!-- server, javascript: 진행중 공고가 0이면 data-none 클래스 추가 -->
                                        <li class="data-none">
                                            <a href="">
                                                <strong>0</strong>
                                                <p>진행중 공고</p>
                                            </a>
                                            <!-- onclick -->
                                        </li>
                                        <!-- server, javascript: 진행중 공고가 0이면 data-none 클래스 추가 -->
                                        <li class="data-none">
                                            <a href="">
                                                <strong>0</strong>
                                                <p>미열람 이력서</p>
                                            </a>
                                            <!-- onclick -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="current-data">
                                    <h5>인재 관리 현황</h5>
                                    <ul>
                                        <!-- server, javascript: 진행중 공고가 0이면 data-none 클래스 추가 -->
                                        <li class="data-none">
                                            <a href="">
                                                <span>사용안함</span>
                                                <p>포지션 제안</p>
                                            </a>
                                            <!-- onclick -->
                                        </li>
                                        <!-- server, javascript: 진행중 공고가 0이면 data-none 클래스 추가 -->
                                        <li class="data-none">
                                            <a href="">
                                                <span>사용안함</span>
                                                <p>헤드헌터 의뢰</p>
                                            </a>
                                            <!-- onclick -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recruit-section recruit-normal">
                        <div class="border-round-section">
                            <!-- server, javascript: 진행중인 공고가 없을 경우 -->
                            <div class="data-none-box">
                                <div class="contents-box">
                                    <div class="icon jobko-1"></div>
                                    <div class="title">진행중인 일반 공고가 없습니다.</div>
                                    <div class="text">인재를 채용할 계획이 있으신가요?</div>
                                    <ul class="button-list clearfix">
                                        <li>
                                            <a href="" class="btn-blue">공고 등록</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-large-section">
                    <!-- 원픽 신청 및 지원자 영역 -->
                    <div class="recruit-section onepick-account dev-onepick-home-resumelist">
                        <div class="border-round-section">
                            <!-- header -->
                            <div class="onepick-account-header">
                                <div class="account-header-top">
                                    <div class="account-logo"></div>
                                    <a href="" class="button-regist">원픽 공고 등록</a>
                                </div>
                                <!-- onclick -->
                                <h2>좋은 인재, 원픽으로 찾으세요!</h2>
                                <p>인재 채용에 소요되는 시간과 인력 낭비, 원픽이 해결합니다.</p>
                            </div>

                            <!-- service -->
                            <div class="onepick-account-service">
                                <a href="" class="button-service">원픽 서비스 소개</a>
                                <!-- onclick -->
                                <ul>
                                    <li>
                                        <div class="account-service-title">
                                            AI 매칭으로<span>최대 10명의 인재 추천</span>
                                        </div>
                                        <p>원픽이 선별한 합격 가능성이 높은 인재를 확인</p>
                                    </li>
                                    <li>
                                        <div class="account-service-title">
                                            지원자<span>최대 5배 상승</span>
                                        </div>
                                        <p>지원자 수 평균 24.2명 발생, 일반 공고 대비 5배 높음</p>
                                    </li>
                                    <li>
                                        <div class="account-service-title">
                                            최종합격까지<span>리드타임 단축</span>
                                        </div>
                                        <p>최종 합격까지 약 20일 소요, 일반 공고 대비 10일 단축</p>
                                    </li>
                                </ul>
                            </div>

                            <!-- 기업 후기 -->
                            <div class="onepick-account-review">
                                <h3>
                                    <span class="title-ico">
                                        <img src="https://i.jobkorea.kr/content/images/corporate/onepick/onepick_company_ico01.png">
                                    </span>
                                    <span class="title-ico">
                                        <img src="https://i.jobkorea.kr/content/images/corporate/onepick/onepick_company_ico02.png">
                                    </span>
                                    <span class="title-ico">
                                        <img src="https://i.jobkorea.kr/content/images/corporate/onepick/onepick_company_ico03.png">
                                    </span>
                                    원픽으로 채용 성공한 기업들의 후기
                                </h3>
                                <div class="swiper-container onepick-account-swiper swiper-container-horizontal">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <p>
                                                원픽은 <span class="txt-b">합격자가 발생하기 전</span>까지 모든 서비스가 
                                                <span class="txt-b">무료</span>라서 합격하지 않아도 비용 걱정이 없고, 합리적인 수수료 덕분에 고민이 줄었습니다.
                                            </p>
                                            <span class="company">D사 채용담당자</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>
                                                <span class="txt-b">UI, UX가 깔끔</span>하고 보기 편합니다. 공고와 지원자분들을 직관적인 필터 기능으로 관리하기 쉽다 보니,
                                                <span class="txt-b">손쉽게 채용을 진행</span>할 수 있었습니다.
                                            </p>
                                            <span class="company">A사 채용담당자</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>
                                                <span class="txt-b">원픽 매니저가 꼼꼼하게 관리</span>해 주다 보니 업무
                                                <span class="txt-b">리소스도 줄어</span>들고, 놓치는 부분 없이 
                                                <span class="txt-b">순조롭게 채용</span>을 진행할 수 있어 편합니다.
                                            </p>
                                            <span class="company">T사 채용담당자</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>
                                                원픽은 타 플랫폼보다 <span class="txt-b">추천인재부터 지원자의 퀄리티가 높아</span> 역량 높은 인재를 채용하기 수월했습니다.
                                            </p>
                                            <span class="company">E사 채용담당자</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>
                                                원픽은 <span class="txt-b">다양한 지원 유도 활동과, 합격축하금</span> 덕분인지 기본적으로
                                                <span class="txt-b">지원자가 많아 너무 좋았습니다.</span> 앞으로 좋은 분들과 일할 수 있길 기대 중입니다.
                                            </p>
                                            <span class="company">P사 채용담당자</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>
                                                원픽은 지원자분들을 <span class="txt-b">AI가 먼저 적합 여부를 평가</span>해 줘서 참 좋았습니다.
                                                <span class="txt-b">적합한 사유</span>까지 나오다 보니, 시간도 절약되고 검토하기 편했습니다.
                                            </p>
                                            <span class="company">G사 채용담당자</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="swiper-button-area">
                                    <div class="swiper-button-prev swiper-button-disabled"></div>
                                    <div class="swiper-button-next"></div>
                                    <!-- javascript: 이전/다음 후기가 없을 경우, button에 swiper-button-disabled 클래스 추가 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 서치상품 알림 -->
        <div class="row-article">
            <div class="inner clearfix"></div>
        </div>

        <!-- 인재 추천 -->
        <div class="row-article">
            <div class="inner clearfix">
                <div class="col-1-medium-section" id="div-recommend-to-gi">
                    <!-- 진행중인 공고와 잘 맞는 인재 -->
                    <div class="person-section">
                        <h2 class="common-h2">
                            <a href="" class="devSelectGIHref">진행중인 공고와 잘 맞는 인재</a>
                            <!-- onclick -->
                        </h2>
                        <div class="border-round-section devRecmToGI">
                            <!-- server, javascript: 진행중인 공고가 없을 경우 -->
                            <div class="data-none-box">
                                <div class="contents-box">
                                    <div class="icon frown"></div>
                                    <div class="title">진행중인 공고가 없습니다.</div>
                                    <div class="text">공고를 등록하시고 공고에 맞춤 인재를 무료로 추천 받아 보세요!</div>
                                    <ul class="button-list clearfix">
                                        <li>
                                            <a href="" target="_blank">공고등록하기</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-medium-section">
                    <!-- 추천하는 인재 -->
                    <div class="person-section recommend">
                        <h2 class="common-h2">
                            <a href="">추천하는 인재</a>
                            <!-- onclick -->
                        </h2>
                        <div class="border-round-section">
                            <a href="" class="top-box">
                                <span># 최근 구직활동을 한 인재</span>
                            </a>
                            <!-- onclick -->
                            <ul class="person-list">
                                <li>
                                    <a href="" target="_blank" class="clearfix">
                                        <div class="image-box">
                                            <!-- server: img가 있다면 -->
                                            <img src="" alt="">
                                        </div>
                                        <div class="text-box">
                                            <div class="title">로봇,물류 자동화 시스템 필드엔지니어 이력서</div>
                                            <ul class="line-list clearfix">
                                                <li>이OO (남 만 28세)</li>
                                                <li>경력 7년 5개월</li>
                                            </ul>
                                            <ul class="keyword-list clearfix">
                                                <li>전기·전자·제어</li>
                                                <li>기계·기계설비</li>
                                                <li>전기·전자엔지니어</li>
                                                <li>필드엔지니어</li>
                                            </ul>
                                        </div>
                                    </a>
                                    <!-- onclick -->
                                </li>
                                <li>
                                    <a href="" target="_blank" class="clearfix">
                                        <div class="image-box">
                                            <!-- server: img가 있다면 -->
                                            <img src="" alt="">
                                        </div>
                                        <div class="text-box">
                                            <div class="title">조직과 구성원의 성장을 지원하는 파트너</div>
                                            <ul class="line-list clearfix">
                                                <li>이OO (남 만 49세)</li>
                                                <li>경력 17년 2개월</li>
                                            </ul>
                                            <ul class="keyword-list clearfix">
                                                <li>공기업·공공기관</li>
                                                <li>총무</li>
                                                <li>인사담당자</li>
                                                <li>HRD·HRM</li>
                                                <li>노무관리자</li>
                                            </ul>
                                        </div>
                                    </a>
                                    <!-- onclick -->
                                </li>
                                <li>
                                    <a href="" target="_blank" class="clearfix">
                                        <div class="image-box">
                                            <!-- server: img가 있다면 -->
                                            <img src="" alt="">
                                        </div>
                                        <div class="text-box">
                                            <div class="title">의약품</div>
                                            <ul class="line-list clearfix">
                                                <li>SOO (남 만 32세)</li>
                                                <li>경력 3년 8개월</li>
                                            </ul>
                                            <ul class="keyword-list clearfix">
                                                <li>화학엔지니어</li>
                                                <li>R&D·연구원</li>
                                                <li>바이오·제약연구원</li>
                                                <li>식품연구원</li>
                                            </ul>
                                        </div>
                                    </a>
                                    <!-- onclick -->
                                </li>
                                <li>
                                    <a href="" target="_blank" class="clearfix">
                                        <div class="image-box">
                                            <!-- server: img가 있다면 -->
                                            <img src="" alt="">
                                        </div>
                                        <div class="text-box">
                                            <div class="title">성실함과 꾸준함</div>
                                            <ul class="line-list clearfix">
                                                <li>김OO (여 만 25세)</li>
                                                <li>경력 2년 7개월</li>
                                            </ul>
                                            <ul class="keyword-list clearfix">
                                                <li>사무담당자</li>
                                                <li>서비스영업</li>
                                            </ul>
                                        </div>
                                    </a>
                                    <!-- onclick -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-1-small-section">
                    <!-- 서칭상품, 헤드헌팅 홍보 -->
                    <div class="service-promotion-section">
                        <div class="searching-section border-round-section">
                            <h3>
                                인재들의 연락처가<br>궁금하신가요?
                            </h3>
                            <a href="" class="more-button">포지션제안 이용하기</a>
                            <!-- onclick -->
                        </div>
                        <div class="headhunting-section border-round-section">
                            <h3>
                                눈에 띄는 인재를<br>찾기 어려우신가요?
                            </h3>
                            <a href="" class="more-button">헤드헌팅 의뢰하기</a>
                            <!-- onclick -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 전용계좌, 퀵 메뉴, 앱 다운 -->
        <div class="row-article">
            <div class="inner clearfix">
                <div class="col-2-section">
                    <!-- 전용계좌, 퀵 메뉴 -->
                    <div class="quick-menu-section">
                        <div class="border-round-section clearfix">
                            <div class="text-box">
                                잡코리아에서 효과적인<br>기업 서비스를 사용해보세요.
                            </div>
                            <ul class="quick-menu-list clearfix">
                                <li>
                                    <a href="">채용광고상품 안내</a>
                                    <!-- onclick -->
                                </li>
                                <li>
                                    <a href="">포지션제안 안내</a>
                                    <!-- onclick -->
                                </li>
                                <li>
                                    <a href="">유료이용내역</a>
                                    <!-- onclick -->
                                </li>
                                <li>
                                    <a href="">쿠폰</a>
                                    <!-- onclick -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-1-small-section">
                    <!-- 앱 다운 -->
                    <div class="service-promotion-section app">
                        <div class="app-section border-round-section">
                            <h3>
                                모바일에서 기업서비스를<br>사용해보세요.
                            </h3>
                            <a href="" class="more-button">잡코리아 앱 다운받기</a>
                            <!-- onclick -->
                            
                            <!-- javascript: 앱 다운받기 버튼 클릭 시, active 클래스 추가 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 배너 -->
        <div class="row-article">
            <div class="inner clearfix">
                <div class="col-2-section">
                    <!-- 이벤트 배너 -->
                    <div class="event-banner-section">
                        <div class="border-round-section clearfix">
                            <div class="ad-container">
                                <a href="" class="imgAdBnnr imgAdBnnr_16_0  isSendImpLog">
                                    <img src="https://ads.jobkorea.co.kr/ads/pc/images/202508/6a86bde0-8c3b-41a3-9dfd-e518985eccbf.png">
                                    <!-- onerror -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-small-section">
                    <!-- 잡코리아 기업러닝 배너 -->
                    <div class="sub-banner-section">
                        <div class="border-round-section clearfix">
                            <a href="" target="_blank">
                                <div class="description">기업전용 필수 법정교육, 직무학습</div>
                                <div class="title">잡코리아 기업러닝</div>
                            </a>
                            <!-- onclick -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>