<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>잡코리아 채용 서비스 - 새로운 인재 채용 전략 | 잡코리아</title>
    <link rel="stylesheet" href="/static/css/corporate/header.css">
    <link rel="stylesheet" href="/static/css/corporate/footer.css">
    <link rel="stylesheet" href="/static/css/corporate/home.css">
    <link rel="shortcut icon" href="https://www.jobkorea.co.kr/favicon.ico?202601061400" type="image/x-icon">
</head>
<body>
    <div id="wrap">

        <!-- 헤더 -->
        <div class="corporate-header">
            <!-- main-menu -->
            <div class="inner">
                <div class="top-menu clearfix">
                    <!-- 로고 -->
                    <h1>
                        <a href="/"></a>
                    </h1>
                    <!-- 로그인/회원가입 메뉴 -->
                    <ul class="top-menu-list clearfix">
                        <li>
                            <a href="">회원가입</a>
                        </li>
                        <li>
                            <a href="">고객센터</a>
                        </li>
                        <li class="">
                            <a href="">로그인</a>
                        </li>
                    </ul>
                </div>

                <!-- navigation -->
                <div class="navigation clearfix">
                    <div class="left-menu">
                        <ul class="left-menu-list clearfix">
                            <li>
                                <a href="javascript:;" class="button-all-menu">
                                    <i></i>
                                </a>
                                <!-- javascript: click 하면 sub-nav-bg의 display none 제거 -->
                            </li>
    
                            <li class="active-fixed">
                                <a href="">홈</a>
                                <!-- onclick="GA_Event('기업공통_PC', 'gnb', '홈') -->
                            </li>
    
                            <li>
                                <a href="">프로그램 등록</a>
                                <!-- onclick -->
                            </li>

                            <li>
                                <a href="">프로그램 관리</a>
                                <!-- onclick -->
                                <div class="sub-nav">
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <a href="">전체 프로그램</a>
                                            </li>
                                            <li>
                                                <a href="">진행 중인 프로그램</a>
                                            </li>
                                            <li>
                                                <a href="">종료된 프로그램</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <a href="">지원자 관리</a>
                                <!-- onclick -->
                                
                            </li>
    
                            
                            <li>
                                <a href="">참여자 관리</a>
                                <!-- onclick -->
                            </li>

                            <li>
                                <a href="">커뮤니티</a>
                                <!-- onclick -->
                                <div class="sub-nav">
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <a href="">Q&A</a>
                                            </li>
                                            <li>
                                                <a href="">내 댓글 목록</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
    
                    <!-- 기업 이름(mypage) -->
                    
                </div>
            </div>

            <!-- sub-menu -->
            <div class="sub-nav-bg"></div>
            <div class="all-menu-modal">
                <div class="inner clearfix">
                    <div class="category">
                        <!-- onclick -->
                        <div class="title">
                            <a href="">프로그램 관리</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li>
                                <a href="">전체 프로그램</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">진행 중인 프로그램</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">종료된 프로그램</a>
                                <!-- onclick -->
                            </li>
                        </ul>
                    </div>

                    <div class="category">
                        <div class="title">
                            <a href="">인재 관리</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li class="">
                                <a href="">지원자 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">참여자 관리</a>
                                <!-- onclick  -->
                            </li>
                        </ul>
                    </div>
                    
                    <div class="category">
                        <div class="title">
                            <a href="">인재 찾기</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li class="">
                                <a href="">기술 블로그</a>
                                <!-- onclick -->
                            </li>
                            
                        </ul>
                    </div>

                    <div class="category">
                        <div class="title">
                            <a href="">커뮤니티</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li class="">
                                <a href="">Q&A</a>
                                <!-- onclick -->
                            </li>
                            <li class="">
                                <a href="">내 댓글 목록</a>
                                <!-- onclick -->
                            </li>
                            
                        </ul>
                    </div>


                    <div class="category">
                        <div class="title">
                            <a href="">마이페이지</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li>
                                <a href="">기업 프로필 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">담당자 정보 관리</a>
                                <!-- onclick  -->
                            </li>
                            <li>
                                <a href="">팀원 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">비밀번호 변경</a>
                                <!-- onclick -->
                            </li>
                                
                        </ul>
                    </div>

                    <!-- <div class="category">
                        <div class="title">
                            <a href="">인재검색</a>
                        </div>
                        <div class="category sub-category">
                            <div class="title">
                                <a href="">인재관리</a>
                            </div>
                            <ul>
                                <li>
                                    <ul>
                                        <li>
                                            <a href="">포지션 제안 인재</a>
                                        </li>
                                        <li>
                                            <a href="">스크랩 인재</a>
                                        </li>
                                        <li>
                                            <a href="">최근 본 인재</a>
                                        </li>
                                        <li>
                                            <a href="">우리기업 관심인재</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- <div class="category">
                        <div class="title">
                            <a href="">원픽</a>
                        </div>
                        <ul>
                            <li>
                                <a href="">원픽 서비스 안내</a>
                            </li>
                            <li>
                                <a href="">원픽 프리미엄 안내</a>
                            </li>
                        </ul>
                        <div class="category sub-category margin-top">
                            <div class="title">
                                <a href="">헤드헌팅 의뢰</a>
                            </div>
                            <ul>
                                <li>
                                    <a href="">헤드헌팅 의뢰</a>
                                </li>
                                <li>
                                    <a href="">헤드헌팅 의뢰하기</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->

                    <a href="" class="write-button">프로그램 등록</a>
                </div>
            </div>
        </div>

        <!-- 알림 (공고, 공지사항) -->
        <div class="top-notice-section">
            <!-- javascript: 슬라이드 배너 -->
            <div class="inner clearfix">
                <div class="notice-box">
                    <div class="swiper-container swiper-container-vertical">
                        <div class="swiper-wrapper">
                            <!-- 배너 -->
                            <div class="swiper-slide swiper-slide-duplicate">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> 잡코리아 개인정보처리방침 개정 안내
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [VOICE WANTED] 보이스피싱범 목소리 공개수배
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [공지] 기업회원 대상 상품 일부 가격조정 안내
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [무료] 잡코리아 더 리부트 컨퍼런스ㅣAI로 채용을 새롭게
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> 잡코리아 개인정보처리방침 개정 안내
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [VOICE WANTED] 보이스피싱범 목소리 공개수배
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="start-section">
            <div class="inner">
                <div class="border-round-section devCorpLogin">
                    <div class="title-box">
                        지금,
                        <strong>우리기업의 인재</strong>
                        를 찾아보세요
                    </div>
                    <div class="button-box clearfix">
                        <span class="">
                            <a href="" class="blue">로그인</a>
                        </span>
                        <a href="">회원가입</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="solution-section">
            <div class="inner clearfix">
                <div class="title-box">
                    <strong>TRY-CATCH</strong>
                    <br>
                    <strong>체험 서비스</strong>를
                    <br>
                    소개합니다. 
                </div>
                <ul class="start-list clearfix">
                    <li>
                        <div class="contents-box">
                            <div class="logo"></div>
                            <div class="texts">
                                <h2>
                                    <!-- <span>채용 업무 시간 87.5% 단축!</span> -->
                                    실무 경험으로 인재를 검증!
                                    <br>
                                    TRY-CATCH와 함께 인재를 찾아보세요
                                </h2>
                                <p>
                                    체험 프로그램을 통해 인재의 실력과 적합성을 미리 확인하고
                                    <br>
                                    우리 회사에 꼭 맞는 인재를 찾아보세요.<a href="" target="_blank" class="link"></a>
                                    <!-- <span>무료로 시작하기</span><i class="icon arrow"></i> -->
                                </p>
                            </div>
                            <!-- <p class="source">출처 : 2022.10.21 고객사 건일제약 인터뷰</p> -->
                        </div>
                    </li>

                    <li>
                        <div class="contents-box">
                            <div class="text-box">
                                <div class="title">
                                    간편한
                                    <br>
                                    <strong>채용공고 등록</strong>
                                </div>
                                <div class="description">
                                    쉽고 빠른 채용공고 등록하기
                                    <br>
                                    다양한 직군, 인턴/신입, 경력까지 폭넓은 채용
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="contents-box">
                            <div class="text-box">
                                <div class="title">
                                    새로운 인재추천의 시작,
                                    <br>
                                    <strong>잡코리아 원픽</strong>
                                </div>
                                <div class="description">
                                    인재 채용에 소요되는 시간과 인력 낭비,
                                    <br>
                                    원픽이 해결합니다.
                                    <a href="" target="_top">원픽 알아보기</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="contents-box">
                            <div class="text-box">
                                <div class="title">
                                    쉽고 정확한
                                    <br>
                                    <strong>지원자 관리</strong>
                                </div>
                                <div class="description">
                                    한눈에 보는 지원자 현황
                                    <br>
                                    서류합격, 면접제의 관리하기
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="contents-box">
                            <div class="text-box">
                                <div class="title">
                                    인턴/신입부터 경력까지
                                    <br>
                                    <strong>인재검색</strong>
                                </div>
                                <div class="description">
                                    우리기업과 잘 맞는 인재추천
                                    <br>
                                    원하는 인재 찾기
                                    <br>
                                    입사제의 포지션제안
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="contents-box">
                            <div class="text-box">
                                <div class="title">
                                    믿고 맡기는
                                    <br>
                                    <strong>헤드헌팅</strong>
                                </div>
                                <div class="description">
                                    엄선된 헤드헌팅을 통한 인재추천
                                </div>
                            </div>
                        </div>
                    </li>

                    
                </ul>
            </div>
        </div>

        <!-- 배너 -->
        <div class="row-article">
            <div class="inner clearfix">
                <div class="col-2-section">
                    <!-- 이벤트 배너 -->
                    <div class="event-banner-section">
                        <div class="border-round-section clearfix">
                            <div class="ad-container divAdBnnr_16_0">
                                <a href="">
                                    <img src="https://ads.jobkorea.co.kr/ads/pc/images/202508/6a86bde0-8c3b-41a3-9dfd-e518985eccbf.png">
                                </a>
                                <!-- javascript -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-small-section">
                    <!-- 잡코리아 배너 -->
                    <div class="sub-banner-section">
                        <div class="border-round-section clearfix">
                            <a href="" target="_blank">
                                <div class="description">기업전용 필수 법정교육, 직무학습</div>
                                <div class="title">잡코리아 기업러닝</div>
                            </a>
                            <!-- onclick -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-section">
            <div class="inner">
                <h2 class="common-h2">잡코리아 채용 서비스가 궁금해요!</h2>
                <ul class="service-list clearfix">
                    <li>
                        <button>
                            <div class="number">1</div>
                            <div class="text">
                                채용공고를 내고 싶은데
                                <br>
                                절차가 어떻게 되나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">2</div>
                            <div class="text">
                                온라인 채용시스템이
                                <br>
                                무엇인가요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">3</div>
                            <div class="text">
                                채용공고를 내고 싶은데
                                <br>
                                절차가 어떻게 되나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">4</div>
                            <div class="text">
                                채용공고를 내고 싶은데
                                <br>
                                절차가 어떻게 되나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">5</div>
                            <div class="text">
                                채용공고를 내고 싶은데
                                <br>
                                절차가 어떻게 되나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">6</div>
                            <div class="text">
                                채용공고를 내고 싶은데
                                <br>
                                절차가 어떻게 되나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">7</div>
                            <div class="text">
                                채용공고를 내고 싶은데
                                <br>
                                절차가 어떻게 되나요?
                            </div>
                        </button>
                    </li>
                    <li>
                        <button>
                            <div class="number">8</div>
                            <div class="text">
                                채용공고를 내고 싶은데
                                <br>
                                절차가 어떻게 되나요?
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- 공지사항, FAQ, 고객센터 -->
        <div class="row-article">
            <div class="bottom-article">
                <div class="inner clearfix">
                    <div class="bottom-section col-3-section clearfix">
                        <!-- 공지사항 -->
                        <div class="bottom-notice-section">
                            <h2 class="common-h2">
                                공지사항
                                <a href="">더보기</a>
                            </h2>
                            <ul class="board-list">
                                <li>
                                    <a href="" class="clearfix">
                                        <div class="title">[필독] 동남아 취업사기에 유의하세요.</div>
                                        <div class="date">2025.10.01</div>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        <div class="title">[개인정보보호로 안전한 직장 만들기] 인사-노무 담당자 필수조치 사항 안내</div>
                                        <div class="date">2025.09.30</div>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        <div class="title">[안전한 알바몬과 잡코리아 만들기] 기업회원의 개인정보 안정성확보조치 안내</div>
                                        <div class="date">2025.09.30</div>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        <div class="title">2025년 임금체불 사업주 1차 명단 공개</div>
                                        <div class="date">2025.09.26</div>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        <div class="title">[무료] 잡코리아 더 리부트 컨퍼런스ㅣAI로 채용을 새롭게</div>
                                        <div class="date">2026.01.06</div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- FAQ -->
                        <div class="faq-section">
                            <h2 class="common-h2">
                                FAQ
                                <a href="">더보기</a>
                            </h2>
                            <ul class="board-list">
                                <li>
                                    <a href="" class="clearfix">
                                        가입자 변경 내역을 확인하고 싶습니다.
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        지원자로부터 이력서 삭제 요청을 받았습니다. 어떻게 삭제하나요?
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        포지션제안 서비스를 구매했는데, 어떻게 사용하나요?
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        계정에서 발생한 지원자 개인정보 접속기록을 확인하고 싶으면 어떻게 해야하나요?
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="" class="clearfix">
                                        간편결제가 무엇인가요?
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- 고객센터 -->
                        <div class="center-section">
                            <h2 class="common-h2">고객센터</h2>
                            <div class="number">1588-9350</div>
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Time</th>
                                        <td>
                                            <ul class="line-list clearfix">
                                                <li>평일 09시 - 19시</li>
                                                <li>토요일 09시 - 15시</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Fax</th>
                                        <td>02-565-9351</td>
                                    </tr>
                                    <tr>
                                        <th>E-mail</th>
                                        <td>
                                            <a href="">helpdesk@jobkorea.co.kr</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div id="footer">
            <div class="inner clear">
                <p class="jkLogo">
                    <a href="/">
                        <img src="https://i.jobkorea.kr/content/images/ver_1/mtc/common/mtc_jk_logo.png?20240226">
                    </a>
                </p>
                <div class="footerWrap">
                    <div class="footerCont clear">
                        <div class="jkNotice">
                            <h3>
                                <a href="">공지사항</a>
                                <!-- onclick -->
                            </h3>
                            <p>
                                <a href="">잡코리아 개인정보처리방침 개정 안내</a>
                                <!-- onclick -->
                                <!-- 새로고침할 때마다 텍스트 바뀜 -->
                                <em> 25.12.09</em>
                            </p>
                        </div>
                        <div class="jkPolicy">
                            <ul>
                                <li>
                                    <a href="">회사소개</a>
                                </li>
                                <li>
                                    <a href="" target="_blank">광고문의</a>
                                </li>
                                <li>
                                    <a href="" target="_blank">제휴문의</a>
                                </li>
                                <li>
                                    <a href="" target="_blank">이용약관</a>
                                </li>
                                <li>
                                    <a href="" target="_blank"><strong>개인정보처리방침</strong></a>
                                </li>
                                <li>
                                    <a href="" target="_blank"><strong>위치기반서비스이용약관</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="jkHelp">
                        <dl class="first">
                            <dt>고객센터</dt>
                            <dd>1588-9350</dd>
                            <dd>(평일 09:00 ~ 19:00 토요일 09:00 ~ 15:00)
                            </dd>
                        </dl>
                        <dl>
                            <dt>FAX</dt>
                            <dd>02-565-9351</dd>
                        </dl>
                        <dl>
                            <dt>Email</dt>
                            <dd>
                                <a href="">helpdesk@jobkorea.co.kr</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <p class="copyright">Copyright ⓒ <strong><a href="" target="_blank">JOBKOREA</a></strong> LLC. All Right Reserved.</p>
            </div>
        </div>

    </div>
</body>
<script src="/static/js/corporate/header/event.js"></script>
</html>