<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>참여자 관리 | TRY-CATCH</title>
    <link rel="stylesheet" href="/static/css/corporate/participant-list.css">
</head>
<body class="mtcPersonScrap">
    <div id="wrap" class="wrapper">
        <div class="sideTrue devUseTopBtn section-wrap" id="container">

            <!-- 참여자 관리 -->
            <div class="participant-list-section">
                <div class="inner">
                    <div class="border-round-section">
                        <div class="status-box">
                            <div class="topArea">
                                <h2 class="subTits">참여자 관리</h2>
                            </div>
                            <ul class="status-list">
                                <!-- server, javascript: 서버에서 rPageCode를 쿼리스트링으로 보내 어떤 버튼인지 확인 후, 동적으로 active 추가  -->
                                <li>
                                    <!-- onclick -->
                                    <a href="" class="active">
                                        전체
                                        <em>0</em>
                                    </a>
                                </li>
                                <li>
                                    <!-- onclick -->
                                    <a href="" class="" >
                                        참여중 
                                        <em>0</em>
                                    </a>
                                </li>
                                <li>
                                    <!-- onclick -->
                                    <a href="" class="" >
                                        승급탈락/중도탈락 
                                        <em>0</em>
                                    </a>
                                </li>
                                <li>
                                    <!-- onclick -->
                                    <a href="" class="" >
                                        참여완료
                                        <em>0</em>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <!-- 참여자 리스트 -->
                        <table class="participant-list-table">
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th>
                                        <button class="order-button ">이름/나이</button>
                                    </th>

                                    <th>
                                        <div class="order-select-box">
                                            <button class="order-button  ">전화번호</button>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="order-select-box">
                                            <button class="order-button  ">이메일</button>
                                        </div>
                                    </th>

                                    <th>
                                        <div class="order-select-box">
                                            <button class="order-button  ">자기소개서</button>
                                        </div>
                                    </th>

                                    <th>
                                        <div class="order-select-box">
                                            <button class="order-button  ">현재 상태</button>
                                        </div>
                                    </th>

                                    <th>
                                    </th>

                                    <th></th>
                                </tr>

                                <!-- server: data가 없을 경우 -->
                                <!-- <tr class="data-none-case">
                                    <td colspan="5">
                                        <div class="icon-frown"></div>
                                        <div class="large-text">포지션제안을 보낸 인재가 없습니다.</div>
                                        <div class="text">좋은 인재에게 이직 제안 해보세요.</div>
                                        <div class="btn-box"> -->
                                            <!-- onclick -->
                                            <!-- <button type="button" >인재검색하기</button>
                                        </div>
                                    </td>
                                </tr> -->

                                <!-- server: data 있을 경우 -->
                                <!-- server: 참여자 구분을 user-id- 값으로 구분 -->
                                <tr id="user-id-1234">
                                    <!-- 승급 대기 중 -->
                                    <td class="profile-img">
                                        <div class="tdInner">
                                            <!-- server, javascript: 개인 프로필 페이지로 이동 -->
                                            <a class="photoItem linkProfile devLinkProfile" href="">
                                                <span class="itemWrap">
                                                    <span class="photoEl not-read">
                                                        <!-- server, javascript: 프로필 사진없을경우 이미지 태그 삭제, span.imgDefault 추가 -->
                                                        <span class="imgDefault"></span>
                                                    </span>
                                                    <span class="maskEl"></span>
                                                </span>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- server, javascript: 개인 프로필 페이지로 이동 -->
                                        <a class="nameItem linkProfile devLinkProfile" href="">
                                            <span class="name">백OO</span>
                                            <span class="nmAge">
                                                <span>여</span> 만 30세
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="contact">010-1234-1234</span>
                                    </td>
                                    <td>
                                        <span class="contact">test@gmail.com</span>
                                    </td>
                                    <td>
                                        <!-- server, javascript: 자기소개서 파일 다운 -->
                                        <button type="button" class="btnMtcTpl devLinkResume">자기소개서 보기</button>
                                    </td>
                                    <td>
                                        <!-- server: 참여 중일 경우 -->
                                        <span>참여중</span>

                                        <!-- server: 탈락했을 경우 -->
                                        <!-- <span class="rejection">탈락</span> -->

                                        <!-- server: 모든 과정을 완료한 경우 -->
                                        <!-- <span class="complete">완료</span> -->
                                    </td>
                                    <td>
                                        <button type="button" class="moreOptionButton">
                                            <span>
                                                <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
                                            </span>
                                        </button>
                                        <!-- javascript: moreOptionButton 을 클릭 시 active 추가 -->
                                        <div class="more-option">
                                            <ul>
                                                <li class="challengerPromoteBtn">
                                                    <button type="button" >승급</button>
                                                </li>
                                                <li class="challengerRejectBtn">
                                                    <button type="button" >탈락</button>
                                                </li>
                                                <li class="challengerDelBtn">
                                                    <button type="button" >중도 탈락</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr id="user-id-4321">
                                    <!-- 승급 대기 중 -->
                                    <td class="profile-img">
                                        <div class="tdInner">
                                            <!-- server, javascript: 개인 프로필 페이지로 이동 -->
                                            <a class="photoItem linkProfile devLinkProfile" href="">
                                                <span class="itemWrap">
                                                    <span class="photoEl not-read">
                                                        <!-- server, javascript: 프로필 사진없을경우 이미지 태그 삭제, span.imgDefault 추가 -->
                                                        <span class="imgDefault"></span>
                                                    </span>
                                                    <span class="maskEl"></span>
                                                </span>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- server, javascript: 개인 프로필 페이지로 이동 -->
                                        <a class="nameItem linkProfile devLinkProfile" href="">
                                            <span class="name">백OO</span>
                                            <span class="nmAge">
                                                <span>여</span> 만 30세
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="contact">010-1234-1234</span>
                                    </td>
                                    <td>
                                        <span class="contact">test@gmail.com</span>
                                    </td>
                                    <td>
                                        <!-- server, javascript: 자기소개서 파일 다운 -->
                                        <button type="button" class="btnMtcTpl devLinkResume">자기소개서 보기</button>
                                    </td>
                                    <td>
                                        <!-- server: 참여 중일 경우 -->
                                        <!-- <span>참여중</span> -->

                                        <!-- server: 탈락했을 경우 -->
                                        <span class="rejection">탈락</span>

                                        <!-- server: 모든 과정을 완료한 경우 -->
                                        <!-- <span class="complete">완료</span> -->
                                    </td>
                                    <td>
                                        <button type="button" class="moreOptionButton">
                                            <span>
                                                <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
                                            </span>
                                        </button>
                                        <!-- javascript: moreOptionButton 을 클릭 시 active 추가 -->
                                        <div class="more-option">
                                            <ul>
                                                <li class="challengerPromoteBtn">
                                                    <button type="button" >승급</button>
                                                </li>
                                                <li class="challengerRejectBtn">
                                                    <button type="button" >탈락</button>
                                                </li>
                                                <li class="challengerDelBtn">
                                                    <button type="button" >중도 탈락</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                
                            </tbody>
                        </table>

                        <!-- 페이지 -->
                        <!-- server: 참여자 리스트에 데이터가 있을 경우에만 보이게 -->
                        <div class="button_area">
                            <div class="tplPagination">
                                <ul>
                                    <li>
                                        <!-- server, javascript: 현재 페이지에 now 추가 -->
                                        <a class="now">1</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        

                        <!-- <form name="sPrint" id="sPrint" action="/corp/person/resume_scrap_print" method="post">
                            <input type="hidden" name="arrPKey">
                            <input type="hidden" name="rPageCode" value="PC">
                            <input type="hidden" name="arrR_No">
                            <input type="hidden" name="arrM_ID">
                        </form> -->

                        <div class="notice-box">
                            <ul class="point-bullet-list">
                                <li>
                                    참여자의 개인정보는 <strong>개인정보보호정책에 의거 프로그램 운영 목적으로만</strong> 이용하셔야 합니다.
                                </li>
                                <li>
                                    참여자 정보는 프로그램 종료일로부터 1년간 보관되며, 이후 자동으로 삭제됩니다.
                                </li>
                                <li>
                                    참여자의 연락처 및 자기소개서는 승인 처리 후 열람하실 수 있습니다.
                                </li>
                                <li>
                                    <strong>승급 거부 처리 시 참여자에게 사유를 안내</strong>해 주시기 바랍니다.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 피드백 모달 -->
            <!-- javascript: 탈락/중도탈락 버튼을 누를 경우 active -->
            <div class="common-modal feedback-modal">
                <div class="modal-dimmed"></div>
                <div class="modal-contents">
                    <button class="close-button"></button>
                    <div class="modal-head">
                        <h2>참여자 탈락 처리</h2>
                        <p class="head-desc">
                            탈락 처리하시겠습니까?
                        </p>
                    </div>
                    <fieldset>
                        <!-- server: 참여자 탈락 처리하기 -->
                        <form method="post" id="form" name="form">
                            <div class="modal-data">
                                <div class="data-info">

                                    <div class="row_group">
                                        <div class="form_feedback flex-start">
                                            <div class="col_2 ">
                                                <textarea id="feedback" style="resize: none; width: 430px; height: 200px;" 
                                                placeholder="참여자의 성장에 도움이 될 피드백을 작성해 주세요! (예: 강점, 개선점, 응원 메시지 등)"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-bts">
                                <!-- server: 회원탈퇴 페이지로 이동 -->
                                <button type="button" class="modal-btn cancel">취소</button>
                                <button type="button" class="modal-btn reject">탈락 처리</button>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/corporate/participant-list/event.js"></script>
</html>