<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 채용공고 | TRY-CATCH</title>
    <link rel="stylesheet" href="/static/css/corporate/program-management.css">
</head>
<body class="mtcSubNotice">
    <div id="wrap">
        <div class="devUseTopBtn" id="container">
            <!-- 배너 -->
            <div class="banner-smartfit-notice">
                <a href="" class="smartfit-banner-link" target="_blank">
                    <img src="https://i.jobkorea.kr/content/images/corporate/smartfit/banner-smartfit-manage.png?20260113">
                </a>
            </div>

            <!-- 본문영역 시작-->
            <div id="content">
                <!-- onsubmit() -->
                <form action="" id="form" method="get" name="form">
                    <!-- server: 메뉴/필터 클릭 시, 페이지 -> 서버 -> (동일한)페이지로 이동 -->
                    <!-- server에 어떤 버튼을 선택했는지 보내는 input -->
                    <!-- value를 변경해서 서버에 요청 -->
                     
                    <!-- 프로그램 상태별(진행중, 모집중) -->
                    <input id="PubType" name="PubType" type="hidden" value="1">

                    <!-- <input id="SrchStat" name="SrchStat" type="hidden" value="1"> -->

                    <!-- 정렬 -->
                    <input id="Orderby" name="Orderby" type="hidden" value="0">

                    <!-- <input id="FilteringDiv" name="FilteringDiv" type="hidden" value="">
                    <input id="FilteringText" name="FilteringText" type="hidden" value="">
                    <input id="ItvIngStatCode" name="ItvIngStatCode" type="hidden" value="0"> -->

                    <!-- 담당자 -->
                    <input id="OfcName" name="OfcName" type="hidden" value="">

                    <!-- 개수별 -->
                    <input id="TopCount" name="TopCount" type="hidden" value="10">



                    <!-- 전체 공고 -->
                    <div class="noticeContent">
                        <!-- header -->
                        <div class="topArea">
                            <h2 class="subTits">전체 채용공고</h2>
                        </div>

                        <!-- 메뉴(탭) -->
                        <div class="mtcTplTab">
                            <ul class="tabItems">
                                <!-- server, javascript: 메뉴/필터 클릭 시, 페이지 -> 서버 -> (동일한)페이지로 이동(페이지 자체는 하나) -->
                                <li class="on">
                                    <!-- onclick() -->
                                    <!-- server: verdana에 동적으로 값 넣기 -->
                                    <a href="">모집중<span class="verdana">0</span></a>
                                </li>
                                <li>
                                    <!-- onclick() -->
                                    <a href="">모집마감<span class="verdana">0</span></a>
                                </li>
                                <li>
                                    <!-- onclick() -->
                                    <a href="">진행중<span class="verdana">0</span></a>
                                </li>
                                <li>
                                    <!-- onclick() -->
                                    <a href="">진행종료<span class="verdana">0</span></a>
                                </li>
                                <!-- <li> -->
                                    <!-- onclick() -->
                                    <!-- <a href="">임시저장<span class="verdana">0</span></a>
                                </li> -->
                                <li>
                                    <!-- onclick() -->
                                    <a href="">전체<span class="verdana">0 </span></a>
                                </li>
                            </ul>
                        </div>

                        <fieldset>
                            <!-- 검색 필터 -->
                            <!-- server, javascript: 공고가 없으면 notFound 추가, 있으면 삭제 -->
                            <!-- server, javascript:  -->
                            <div class="sort-select-box notFound">
                                <div class="drop-down-box">
                                    <!-- 날짜별 -->
                                    <div class="button-box">
                                        <button type="button" class="sort-button sort1">최근 등록일순</button>
                                        <!-- javascript: 드롭다운 버튼 클릭 시 active 추가 -->
                                        <div class="sort-select-modal select-modal_common check-version ">
                                            <ul>
                                                <!-- javascript: 버튼 active 일 경우 배경색 #f7f8fa; -->
                                                <li>
                                                    <!-- javascript: list 안에 버튼 클릭 시 active 추가 -->
                                                    <!-- onclick() -->
                                                    <button type="button" class="active">최근 등록일</button>
                                                </li>
                                                <li>
                                                    <!-- onclick() -->
                                                    <button type="button" class="">과거 등록일</button>
                                                </li>
                                                <li>
                                                    <!-- onclick() -->
                                                    <button type="button" class="">수정일</button>
                                                </li>
                                                <li>
                                                    <!-- onclick() -->
                                                    <button type="button" class="">마감일</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- 개수별 -->
                                    <div class="button-box">
                                        <!-- server, javascript: 드롭다운 메뉴 버튼 클릭 시 동적으로 button의 textContent 변경 -->
                                        <button type="button" class="sort-button sort2">10개씩 보기</button>
                                        <!-- javascript: 드롭다운 버튼 클릭 시 active 추가 -->
                                        <div class="sort-select-modal select-modal_common">
                                            <ul id="TopCount">
                                                <li><button type="button" data-count="10" data-pub-type="1">10개</button></li>
                                                <li><button type="button" data-count="20" data-pub-type="1">20개</button></li>
                                                <li><button type="button" data-count="30" data-pub-type="1">30개</button></li>
                                                <li><button type="button" data-count="40" data-pub-type="1">40개</button></li>
                                                <li><button type="button" data-count="50" data-pub-type="1">50개</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- 담당자별 -->
                                <div class="search-box input-box_common">
                                    <div class="drop-down-box">
                                        <div class="button-box">
                                            <!-- server, javascript: 드롭다운 메뉴 버튼 클릭 시 동적으로 button의 textContent 변경 -->
                                            <button type="button" class="sort-button sort3">담당자 전체</button>
                                            <!-- javascript: 드롭다운 버튼 클릭 시 active 추가 -->
                                            <div class="sort-select-modal select-modal_common">
                                                <ul id="lb_OfcName">
                                                    <li><button type="button" data-value="">담당자 전체</button></li>
                                                    <!-- server: 공고 담당자에 따라 동적으로 li 생성 -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="text" id="SrchKeyword" maxlength="50" name="SrchKeyword" placeholder="공고제목, 담당자">
                                    <button type="button" class="search-button"></button>
                                </div>
                            </div>

                            <div class="rowWrap">
                                <!-- server: 공고가 없을 경우 -->
                                <!-- <div class="scNoSelectWrap">
                                    <div class="noSelectInner">
                                        <div class="scNoSelectAppList mngSpBefore">
                                            <p class="tx"><strong>진행중인 공고가 없습니다.</strong></p>
                                            <div class="noSelLink">
                                                <a class="link" href="">공고등록하기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                
                                <!-- server: 공고가 있을 경우 -->
                                <div class="scSelectWrap">
                                    <div class="selectInner">
                                        <ul class="scSelectAppList mngSpBefore">
                                            <li class="scSelectAppItem">
                                                <div class="manager">
                                                    <h2 class="manager-name">담당자명</h2>
                                                    <div class="department">
                                                        <p>
                                                            Phone: 010-1234-1234 &nbsp; | &nbsp; Email: test@gmail.com
                                                        </p>
                                                    </div>
                                                    <button type="button" class="moreOptionButton">
                                                        <span>
                                                            <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
                                                        </span>
                                                    </button>
                                                    <!-- javascript: moreOptionButton 클릭 시 active 추가 -->
                                                    <div class="more-option">
                                                        <ul>
                                                            <li>
                                                                <button type="button" class="applicantBtn">지원자 관리</button>
                                                            </li>
                                                            <li>
                                                                <button type="button" class="participantBtn">참여자 관리</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- server: 프로그램 상세로 이동 -->
                                                <a href="" class="program-detail-link" target="_blank">
                                                    <div class="program-title">
                                                        <h3 class="title">백엔드 개발 체험 프로그램</h3>
                                                    </div>
                                                    <!-- 프로그램 키워드 작성(예: 모집중, 진행중, D-day 등) -->
                                                    <ul class="keywords">
                                                        <li class="item status">진행중</li>
                                                        <li class="item">체험형</li>
                                                        <li class="item">개발부</li>
                                                        <li class="item">4주</li>
                                                        <li class="item">D-7</li>
                                                        <li class="item">15명</li>
                                                    </ul>
                                                    <div class="program-description">
                                                        <p>프로그램 간단 설명글</p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="scSelectAppItem">
                                                <div class="manager">
                                                    <h2 class="manager-name">담당자명</h2>
                                                    <div class="department">
                                                        <p>
                                                            Phone: 010-1234-1234 &nbsp; | &nbsp; Email: test@gmail.com
                                                        </p>
                                                    </div>
                                                    <button type="button" class="moreOptionButton">
                                                        <span>
                                                            <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
                                                        </span>
                                                    </button>
                                                    <!-- javascript: moreOptionButton 클릭 시 active 추가 -->
                                                    <div class="more-option">
                                                        <ul>
                                                            <li>
                                                                <button type="button" class="applicantBtn">지원자 관리</button>
                                                            </li>
                                                            <li>
                                                                <button type="button" class="participantBtn">참여자 관리</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- server: 프로그램 상세로 이동 -->
                                                <a href="" class="program-detail-link" target="_blank">
                                                    <div class="program-title">
                                                        <h3 class="title">백엔드 개발 체험 프로그램</h3>
                                                    </div>
                                                    <!-- 프로그램 키워드 작성(예: 모집중, 진행중, D-day 등) -->
                                                    <ul class="keywords">
                                                        <li class="item status">모집중</li>
                                                        <li class="item">체험형</li>
                                                        <li class="item">개발부</li>
                                                        <li class="item">4주</li>
                                                        <li class="item">D-7</li>
                                                        <li class="item">15명</li>
                                                    </ul>
                                                    <div class="program-description">
                                                        <p>프로그램 간단 설명글</p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="scSelectAppItem">
                                                <div class="manager">
                                                    <h2 class="manager-name">담당자명</h2>
                                                    <div class="department">
                                                        <p>
                                                            Phone: 010-1234-1234 &nbsp; | &nbsp; Email: test@gmail.com
                                                        </p>
                                                    </div>
                                                    <button type="button" class="moreOptionButton">
                                                        <span>
                                                            <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
                                                        </span>
                                                    </button>
                                                    <!-- javascript: moreOptionButton 클릭 시 active 추가 -->
                                                    <div class="more-option">
                                                        <ul>
                                                            <li>
                                                                <button type="button" class="applicantBtn">지원자 관리</button>
                                                            </li>
                                                            <li>
                                                                <button type="button" class="participantBtn">참여자 관리</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- server: 프로그램 상세로 이동 -->
                                                <a href="" class="program-detail-link" target="_blank">
                                                    <div class="program-title">
                                                        <h3 class="title">백엔드 개발 체험 프로그램</h3>
                                                    </div>
                                                    <!-- 프로그램 키워드 작성(예: 모집중, 진행중, D-day 등) -->
                                                    <ul class="keywords">
                                                        <li class="item status">모집중</li>
                                                        <li class="item">체험형</li>
                                                        <li class="item">개발부</li>
                                                        <li class="item">4주</li>
                                                        <li class="item">D-7</li>
                                                        <li class="item">15명</li>
                                                    </ul>
                                                    <div class="program-description">
                                                        <p>프로그램 간단 설명글</p>
                                                    </div>
                                                </a>
                                            </li>
                                            


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="noticeBx">
                                <ul>
                                    <li>체험 프로그램은 <em>지원자 모집 → 참여 → 검증 → 종료</em> 단계로 진행됩니다.</li>
                                    <li>참여자는 프로그램 시작 이후 <em>중도 이탈이 가능</em>하며, 이력에 기록됩니다. </li>
                                    <li>기업은 참여자의 <em>과제 수행, 참여도, 커뮤니케이션 기록</em>을 통해 인재를 검증할 수 있습니다.</li>
                                    <li>체험 프로그램은 채용 확정을 의미하지 않으며, <em>기업의 채용 판단을 돕기 위한 검증 과정</em>입니다.</li>
                                    <li>프로그램 내용 및 운영 방식은 <em>기업이 직접 수정·관리</em>할 수 있습니다. </li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>

            <!-- 맨위로 -->
            <div class="mtcTopBx">
                <a id="btnMtcTop" href="#skipNavigation" class="mtcBtn btnMtcTop"></a>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/corporate/program-management/event.js"></script>
</html>