<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main-footer</title>
    <link rel="stylesheet" href="/static/css/main/footer.css">
</head>
<body>
    <div id="footer" class="footer footer--main">
    <div class="footer__wrap">
        <h2 class="skip">잡코리아 기타 정보</h2>
        <div class="footer__notice">
            <div class="notice-wrap">
                <h3 class="blind">공지사항</h3>
                <dl class="footer__notice-wrap clear">
                    <dt class="footer__notice-title"><a href="" onclick=""></i></a></dt>
                    <div class="footer__notice-text">
                        <div class="noti-slide">
                            <div class="swiper-container swiper-container-vertical">
                                <ul class="swiper-wrapper lst" style="transition-duration: 0ms; transform: translate3d(0px, -96px, 0px);"><li class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="2" style="height: 24px;">
                                            <a href="" onclick="">[무료] TRY-CATCH 더 리부트 컨퍼런스ㅣAI로 채용을 새롭게</a>
                                        </li>
                                        <li class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" style="height: 24px;">
                                            <a href="" onclick="">TRY-CATCH 이용약관 개정 안내</a>
                                        </li>
                                        <li class="swiper-slide" data-swiper-slide-index="1" style="height: 24px;">
                                            <a href="" onclick="">TRY-CATCH 원픽 서비스 이용약관 개정 안내</a>
                                        </li>
                                        <li class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="2" style="height: 24px;">
                                            <a href="" onclick="">[무료] TRY-CATCH 더 리부트 컨퍼런스ㅣAI로 채용을 새롭게</a>
                                        </li>
                                <li class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="height: 24px;">
                                            <a href="" onclick="">TRY-CATCH 이용약관 개정 안내</a>
                                        </li></ul>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        </div>
                    </div>
                </dl>
                <div class="ftr-right">
                    <ul class="list-service">
                        <li>
                            <a href="" target="_blank" title="새창" class="footer__help-link" onclick="">톡톡 상담하기 <i class="system_system_arrow_right"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" title="새창" class="footer__help-link" onclick=""> FAQ 바로가기<i class="system_system_arrow_right"></i></a>
                        </li>
                    </ul>
                    <ul class="ftr_sns">
                        <li class="sns-item">
                            <a href="" target="_blank" title="페이스북" class="footer__sns-item--facebook" onclick="">
                                <span class="skip">페이스북</span><i class="footer_facebook"></i>
                            </a>
                        </li>
                        <li class="sns-item">
                            <a href="" target="_blank" title="인스타그램" class="footer__sns-item--instagram" onclick=""><span class="skip">인스타그램</span><i class="footer_instagram"></i></a>
                        </li>
                        <li class="sns-item">
                            <a href="" target="_blank" title="유튜브" class="sns-item--youtube" onclick="">
                                <span class="skip">유튜브</span><i class="footer_youtube"></i>
                            </a>
                        </li>
                        <li class="sns-item">
                            <a href="" target="_blank" title="블로그" class="footer__sns-item--blog" onclick=""><span class="skip">블로그</span><i class="footer_blog"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer__service">
            <h3 class="blind">잡코리아 서비스 링크</h3>
            <ul>
                <li><a href="" target="_blank" onclick="">회사소개</a></li>
                <li><a href="" target="_blank" onclick="">이용약관</a></li>
                <li><a href="" target="_blank" onclick=""><strong>개인정보처리방침</strong></a></li>
                <li><a href="" target="_blank" onclick="">고객센터</a></li>
                
            </ul>
        </div>

        <div class="footer__help">
            <h3 class="blind">고객센터</h3>
            <dl class="footer__help-wrap footer__help-wrap--working-hour">
                <dt class="footer__help-title">고객센터</dt>
                <dd class="footer__help-text">1234-5678</dd>
                <dd class="footer__help-text">
                    (평일 <span class="tahoma">09:00 ~ 19:00</span> 토요일 <span class="tahoma">09:00 ~ 15:00</span>)
                </dd>
            </dl>
            <dl class="footer__help-wrap footer__help-wrap--fax">
                <dt class="footer__help-title">FAX</dt>
                <dd class="footer__help-text">02-111-1111</dd>
            </dl>
            <dl class="footer__help-wrap footer__help-wrap--email">
                <dt class="footer__help-title">Email</dt>
                <dd class="footer__help-text">
                    <a href="mailto:test@.com" class="footer__help-link">test@.com</a>
                </dd>
            </dl>
            <ul class="footer__sns">
            </ul>
        </div>

        <!-- 메인에서만 노출 -->
        <div class="footer__company">
            <div class="footer__company-item footer__company-item--ceo">대표 : 김윤찬</div>
            <div class="footer__company-item footer__company-item--business">
                사업자등록번호 : <span>
                    111-11-11111<a href="" class="business-button">사업자정보 확인 &gt;</a>
                </span>
            </div>
            <div class="footer__company-item footer__company-item--address">주소 : 떡잎 마을</div>
            <br>
            <div class="footer__company-item footer__company-item--report">통신판매업 신고번호 : test</div>
            <div class="footer__company-item footer__company-item--job">직업정보제공사업 신고번호 : test</div>
            <div class="footer__company-item footer__company-item--job">유료직업소개업 등록번호 : test</div>
            <br>
            <div class="copyright">
                © <strong><a href="" target="_blank">TRY-CATCH</a></strong> LLC. All rights
                reserved.
            </div>
        </div>
    </div>
    <div class="footer__award">
        <ul>
            <li class="footer__award-item footer__award-item--kbpi"><a href="" target="_blank">test<br>(체험전문포털)</a></li>
            <li class="footer__award-item footer__award-item--bcli"><a href="" target="_blank">test<br>대상 수상</a></li>
            <li class="footer__award-item footer__award-item--ismsp"><a href="" target="_blank">[인증범위] 온라인 리크루팅 서비스<br>[유효기간] test</a></li>
            <li class="footer__award-item footer__award-item--keis"><a href="" target="_blank">test<br>test</a></li>
            <li class="footer__award-item footer__award-item--spam"><a href="" target="_blank">test<br>test</a></li>
        </ul>
    </div>
</div>
</body>
</html>