@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: url("/static/font/Pretendard-Regular.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: url("/static/font/Pretendard-SemiBold.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: url("/static/font/Pretendard-Bold.subset.woff2") format(woff2);
}

/* 기본 */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}
html {
    width: 100%;
    overflow-y: scroll;
}
body{
    background: #f3f5f7;

    width: 100%;
    color: #333;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1;
}
li, ul {
    list-style: none;
}
a, img {
    display: block;
}
/* img {
    border: 0;
    vertical-align: top;
} */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 100%;
}

a, a:link, a:visited {
    color: #666;
    text-decoration: none;
}
a, a:active, a:focus, a:hover, a:link, a:visited {
    color: #333;
    text-decoration: none;
}
address, caption, em {
    font-weight: 400;
    font-style: normal;
}

#wrap {
    position: relative;
    min-width: 1270px;
    margin: 0 auto;
    background: #f2f4f7;
}
.inner {
    width: 1260px;
    margin: 0 auto;
}

/* footer */
#footer {
    margin-top: 0 !important;
    width: 100%;
    padding-bottom: 50px;
    border-top: 2px solid #a8a8a8;
    background: #fff;
    /* font-style: normal; */
}
#footer .inner {
    position: relative;
    width: 1250px;
}
/* .clear {
    zoom: 1;
} */
.clear:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
#footer .jkLogo {
    float: left;
    margin-top: 24px;
}
#footer .footerWrap {
    padding-left: 210px;
}
#footer .footerCont {
    height: 71px;
    padding-top: 26px;
    border-bottom: 1px solid #efefef;
}
#footer .jkNotice {
    float: right;
    overflow: hidden;
    font-size: 14px;
}
#footer .jkNotice p {
    position: relative;
    width: 330px;
    margin-left: 4px;
}
#footer .jkNotice h3, #footer .jkNotice p {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}
#footer .jkNotice h3 a {
    color: #000;
    font-weight: bold;
}
#footer .jkNotice p a {
    overflow: hidden;
    display: inline-block;
    max-width: 271px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#footer .jkNotice p em {
    position: absolute;
    /* top: 0; */
    right: 0;
    display: inline-block;
    color: #888;
    margin: 1px 0 0 5px;
    /* vertical-align: top; */
}
#footer .jkPolicy {
    float: left;
    font-size: 14px;
    /* text-align: center; */
}
#footer .jkPolicy li {
    display: inline-block;
}
#footer .jkPolicy li a {
    color: #000;
}
#footer .jkPolicy li + li {
    margin-left: 18px;
}
#footer .jkHelp {
    color: #888;
    margin-top: 27px;
}
#footer .jkHelp dl, #footer .jkHelp dt, #footer .jkHelp dd {
    display: inline-block;
}
#footer .jkHelp dt:after {
    content: ":";
    display: inline-block;
    margin-left: 3px;
}
#footer .jkHelp dl+:before {
    content: "l";
    display: inline-block;
    color: #ccc;
    margin: 0 7px;
}
#footer .jkHelp a {
    color: #888;
}
#footer .copyright, #footer .copyright a {
    color: #888;
    display: inline;
    font-size: 11px;
}
#footer .copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
}