@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: url("/static/font/Pretendard-Regular.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: url("/static/font/Pretendard-SemiBold.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: url("/static/font/Pretendard-Bold.subset.woff2") format(woff2);
}

/* 기본 */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}
html {
    width: 100%;
    overflow-y: scroll;
}
body{
    background: #f3f5f7;

    width: 100%;
    color: #333;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1;
}
li, ul {
    list-style: none;
}
a, img {
    display: block;
}
/* img {
    border: 0;
    vertical-align: top;
} */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 100%;
}

a, a:link, a:visited {
    color: #666;
    text-decoration: none;
}
a, a:active, a:focus, a:hover, a:link, a:visited {
    color: #333;
    text-decoration: none;
}
address, caption, em {
    font-weight: 400;
    font-style: normal;
}

#wrap {
    position: relative;
    min-width: 1270px;
    margin: 0 auto;
    background: #f2f4f7;
}

/* 헤더 */
.corporate-header {
    position: relative;
    background: #434041;
}
.corporate-header>.inner {
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
}

.inner {
    width: 1260px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.corporate-header .top-menu h1 {
    float: left;
}
.corporate-header .top-menu h1 a {
    width: 121px;
    height: 17px;
    background: url("https://i.jobkorea.kr/content/images/corporate/main_v2/logo_jobkorea.png");
}
.corporate-header .top-menu-list {
    float: right;
}
.corporate-header .top-menu-list>li {
    position: relative;
    float: left;
}
.corporate-header .top-menu-list>li>a {
    color: #e6e6e6;
    line-height: 17px;
}
.corporate-header .top-menu-list>li:nth-child(n+2) {
    margin-left: 25px;
}

.corporate-header .navigation {
    margin-top: 40px;
}
.corporate-header .navigation .left-menu {
    float: left;
}
.corporate-header .navigation .left-menu-list>li, .corporate-header .navigation .right-menu-list>li {
    position: relative;
    float: left;
}
.corporate-header .navigation .left-menu-list>li:first-child>a {
    padding-left: 0;
}
.corporate-header .navigation .left-menu-list>li .button-all-menu {
    padding-top: 20px;
    padding-bottom: 16px;
}
.corporate-header .navigation .left-menu-list>li>a {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}
.corporate-header .navigation .left-menu-list>li>a, .corporate-header .navigation .right-menu-list>li>a {
    padding-top: 20px;
    padding-bottom: 21px;
}
.corporate-header .navigation .left-menu-list>li .button-all-menu i {
    display: inline-block;
    width: 22px;
    height: 16px;
    background: url("/static/images/corporate/icon_menu.png") no-repeat 50%;
}
.corporate-header .navigation .left-menu-list>li .button-all-menu.active i {
    background: url("/static/images/corporate/icon_menu_close.svg");
    background-repeat: no-repeat;
}
/* javascript: click 했을 때, active 클래스 추가 */

    /* nav 상세(미니 모달) */
.corporate-header .sub-nav {
    display: none;
    position: absolute;
    z-index: 334;
    left: 50%;
    transform: translate(-50%);
    padding: 12px 0;
    margin-top: -8px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .08);
}
.corporate-header .sub-nav .category {
    width: 150px;
}
.corporate-header .sub-nav .category>ul>li a {
    padding-left: 16px;
    line-height: 36px;
    font-size: 14px;
}

    /* 잡코리아 인재 추천 메세지 css */
/* .corporate-header .navigation .left-menu-list>li .bubble, .corporate-header .navigation .left-menu-list>li .bubble:before {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.corporate-header .navigation .left-menu-list>li .bubble {
    display: inline-block;
    top: -11px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    padding: 0 8px;
    font-weight: 600;
    border-radius: 22px;
    background-color: #297fff;
}
.corporate-header .navigation .left-menu-list>li .bubble:before {
    content: "";
    border: 8px solid rgba(0, 0, 0, 0);
    border-top-color: #297fff;
    bottom: -13px;
} */

    /* 기업 이름 */
.corporate-header .navigation .right-menu {
    float: right;
}
.corporate-header .navigation .right-menu-list>li:last-child>a {
    padding-right: 0;
    display: flex;
    gap: 8px;
}
.corporate-header .navigation .right-menu-list>li>a {
    font-size: 16px;
    color: #fff;
    padding-left: 14px;
    padding-right: 14px;
}
.corporate-header .navigation .right-menu.logged-in .notification .bell {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
}
.corporate-header .navigation .right-menu.logged-in .notification .bell:before {
    position: absolute;
    top: 15px;
    left: 4px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    content: "";
    background-color: #fff;
    mask-image: url("/static/images/corporate/icon_bell.svg");
    /* mask-size: contain; */
    background-repeat: no-repeat;
    background-position: 50%;
}
.corporate-header .navigation .right-menu.logged-in .notification .bell:before {
    animation: wobble 1.15s ease-in;
}

        /* 기업 알림 */
.notification .notification-menu {
    display: none;
    position: absolute;
    top: 51px;
    left: -218px;
    z-index: 335;
    width: 338px;
    max-height: 556px;
}
.notification .notification-menu.active {
    display: block;
    padding-top: 4px;
    padding-right: 4px;
    border: 1px solid #6a6a6a;
    border-radius: 8px;
    background-color: #fff;
}
.notification .notification-menu .notification-menu-body{
    overflow-y: auto;
    width: 100%;
    height: 516px;
    border-bottom: 0;
    border-radius: 8px;
    background-color: #fff;
    scrollbar-width: thin;
}
            /* 알림 없을 때 */
.notification .notification-menu .notification-menu-body .no-notification.active {
    display: block;
}
.notification .notification-menu .notification-menu-body .no-notification {
    display: none;
    overflow: hidden;
    padding: 6px 6px 10px 10px;
    width: 100%;
    height: 100%;
}
.notification .notification-menu .no-notification .no-notification-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid #d9dfea;
    text-align: center;
    height: 100%;
}
.notification .notification-menu .no-notification .notification-setting-button {
    display: block;
    width: 148px;
    height: 34px;
    margin: 0 auto;
    padding-top: 9px;
    border: 1px solid #39f;
    border-radius: 17px;
    font-weight: 700;
    color: #39f !important;
    text-decoration: none;
    font-size: 13px;
}
.no-notification-header {
    /* margin-bottom: 8px; */
    font-weight: 700;
    line-height: 20px;
    color: #333;
    font-size: 16px;
}
.no-notification-description {
    line-height: 18px;
}
            /* 알림 있을 때 */
.notification .notification-menu .notification-menu-body .notification-list.active {
    display: block;
}
.notification .notification-menu .notification-menu-body .notification-list {
    display: none;
    overflow: hidden;
    padding: 6px 6px 10px 10px;
    width: 100%;
}
.notification .notification-menu .notification-menu-body .notification-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 15px; */
    /* border: 1px solid #d9dfea; */
    text-align: center;
    height: 100%;
}
.notification-list ul li {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding: 10px;
    border-bottom: 1px solid #d9dfea;
}
.notification-list ul li:last-child {
    border-bottom: 0;
}
.notification-list ul li .sender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.notification-list ul li .sender span:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    line-height: 20px;
    color: #000;
    font-size: 16px;
    padding-bottom: 1px;
}
.notification-list ul li .sender span:first-child::before {
    content: "From.";
    display: inline-block;
    padding-right: 5px;
}
.notification-list ul li .sender span.new-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4f4f;
    border-radius: 2px;
    padding-top: 0;
    color: #fff;
    font-size: 10px;
    width: 30px;
    height: 16px;
    margin-bottom: 1px;
}
.notification-list ul li .preview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* sub-menu(모달) */
.corporate-header .all-menu-modal, .corporate-header .sub-nav-bg {
    display: none;
    position: absolute;
    left: 0;
    top: 136px;
    width: 100%;
    background: #fff;
    padding-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .0784313725);
}
.corporate-header .all-menu-modal.active {
    display: block;
}
/* javascript: click시 active 클래스 추가 */

/* .corporate-header .sub-nav-bg {
    display: none;
    min-height: 235px;
    z-index: 5;
} */
 .corporate-header .all-menu-modal {
    padding-bottom: 30px;
    /* min-height: 352px; */
    z-index: 333;
}
.corporate-header .all-menu-modal .inner {
    position: relative;

    height: 230px;
    width: 894px;
}
.corporate-header .all-menu-modal .category {
    float: left;
    width: 160px;
}
.corporate-header .all-menu-modal .category .title {
    padding-bottom: 14px;
    border-bottom: 1px solid #f0f0f0;
}
.corporate-header .all-menu-modal .category .title a {
    font-size: 15px;
    color: #1a1a1a;
    font-weight: 700;
}
.corporate-header .all-menu-modal .category>ul {
    margin-top: 12px;
}
.corporate-header .all-menu-modal .category>ul>li a {
    line-height: 32px;
}
.corporate-header .all-menu-modal .category:nth-child(n+2) {
    margin-left: 23.3px;
}
.corporate-header .all-menu-modal .category .sub-category {
    margin: 14px 0 0;
}
.corporate-header .all-menu-modal .category .sub-category>ul>li>ul>li>a {
    color: #6a6a6a;
}
.corporate-header .all-menu-modal .category>ul>li>ul>li>a {
    font-size: 12px;
    line-height: 26px;
}
.corporate-header .all-menu-modal .category>ul>li>ul>li>a:before {
    content: "·";
    display: inline-block;
    padding-left: 10px;
    padding-right: 7px;
}
.corporate-header .all-menu-modal .category .sub-category.margin-top {
    margin-top: 22px;
}
.corporate-header .all-menu-modal .write-button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 160px;
    height: 45px;
    border-radius: 8px;
    background: #39f;
    line-height: 45px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.corporate-header .all-menu-modal .write-button:before {
    content: "";
    display: inline-block;
    vertical-align: sub;
    width: 19px;
    height: 23px;
    background: url("/static/images/corporate/icon_add.png");
    background-size: 19px auto;
    margin-right: 9px;
}
.corporate-header .navigation .left-menu-list>li.active .sub-nav, .corporate-header .navigation .right-menu-list>li.active .sub-nav {
    display: block;
}
/* javascript: 마우스 올렸을 때, active 클래스 추가 */

.corporate-header .navigation .left-menu-list>li+.active-fixed>a:after, .corporate-header .navigation .left-menu-list>li+.active>a:after {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    content: "";
    display: block;
    width: calc(100% - 40px);
    height: 5px;
    background: #b8ff00;
}
/*  */

/* 모달 - 알림창 */
.common-modal.active {
    display: block;
}
.common-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20000 !important;
    width: 100%;
    height: 100%;
}
.common-modal .modal-dimmed {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
.common-modal.notification-modal .modal-contents {
    height: 700px;
    width: 500px;
}
.common-modal .modal-contents {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background: #fff;
    padding: 30px 35px;
}
.common-modal .close-button {
    position: absolute;
    z-index: 10;
    right: 35px;
    top: 30px;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url("/static/images/corporate/icon_close.png") no-repeat 50%;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    position: relative;
    z-index: 1;
    display: flex;
    transition-property: transform;
    /* overflow: hidden; */
    /* box-sizing: content-box; */
}
.common-modal.notification-modal .modal-contents .swiper-wrapper .swiper-slide {
    height: 640px;
    width: 430px;
    flex-shrink: 0;
}
.common-modal.notification-modal .modal-contents .swiper-wrapper .swiper-slide .header h2 {
    font-size: 24px;
    letter-spacing: -.5px;
    color: #1a1a1a;
    line-height: 40px;
    margin-bottom: 10px;
}
.common-modal.notification-modal .modal-contents .swiper-wrapper .swiper-slide .header h2::before {
    content: "From.";
    display: inline-block;
    padding-right: 5px;
}
.common-modal.notification-modal .modal-contents .swiper-wrapper .swiper-slide .header .date {
    color: #666;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
}
.common-modal.notification-modal .modal-contents .swiper-wrapper .swiper-slide .content {
    overflow-y: auto;
    width: 100%;
    height: 553px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
    word-break: keep-all;
}
.common-modal.notification-modal .swiper-button-next, .common-modal.notification-modal .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 47px;
    height: 125px;
    background: url("/static/images/corporate/arrow_modal_swiper.png");
    margin-top: -62.5px;
    z-index: 10;
    cursor: pointer;
}
.common-modal.notification-modal .swiper-button-next {
    right: -77px;
}
.common-modal.notification-modal .swiper-button-prev {
    left: -77px;
    transform: scaleX(-1);
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}