<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notification</title>
    <link rel="stylesheet" href="/static/css/mypage/notification.css">
</head>
<body>
    <!-- 사이드바 시작 -->
    <section class="secLnb">
                    <h1 class="skip">개인회원 서비스 메뉴</h1>
                    <div class="lnbGroup">
                        <h2 class="lnbTit">
                            <a
                                href=""
                                onclick="
                                    
                                "
                                >개인회원 홈</a
                            >
                        </h2>
                    </div>
                    <div class="lnbGroup">
                        <h2 class="lnbTit">자기소개서 관리</h2>
                        <ul>
                            <li>
                                <a
                                    href=""
                                    target="_blank"
                                    onclick="
                                        
                                    "
                                    >자기소개서 등록</a
                                >
                            </li>
                            <li>
                                <a
                                    href=""
                                    onclick="
                                        
                                    "
                                    >첨부파일 관리</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="lnbGroup">
                        <h2 class="lnbTit">체험 지원 관리</h2>
                        <ul>
                            <li>
                                <a
                                    href=""
                                    onclick="
                                        
                                    "
                                    >체험 지원 현황</a
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="lnbGroup">
                        <h2 class="lnbTit">스크랩</h2>
                        <ul>
                            <li>
                                <a
                                    href=""
                                    onclick="
                                       
                                    "
                                    >스크랩 공고</a
                                >
                            </li>

                            <li>
                                <a
                                    href=""
                                    onclick="
                                       
                                    "
                                    >MY 알림</a
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="lnbGroup">
                        <h2 class="lnbTit">회원정보 관리</h2>
                        <ul>
                            <li>
                                <a
                                    href=""
                                    onclick="
                                        
                                    "
                                    >회원정보 수정</a
                                >
                            </li>
                            <li>
                                <a
                                    href=""
                                    onclick="
                                      
                                    "
                                    >비밀번호 변경</a
                                >
                            </li>
                        </ul>
                    </div>
                </section>
            </section>
            <!-- 사이드바 끝 -->
</body>
<script src="/static/js/mypage/notification.js"></script>
</html>