<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <textarea></textarea>
    <div id="images"></div>
    <ul>
        <li><img src="../static/images/logo.png" alt=""></li>
    </ul>
</body>
<script>
    document.querySelector("li img").addEventListener("click", (e) => {
        document.getElementById("images").innerHTML = `
            <img src="${e.target.src}">
        `;
    });
</script>
</html>