<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/static/css/community/footer.css">
</head>
<body>
           <div id="footer" class="footer footer--medium">
            <div class="footer__wrap">
                <h2 class="skip">잡코리아 기타 정보</h2>

                <div class="footer__advertisement">
                    <h3 class="blind">배너</h3>

                    <div class="footer__advertisement--text">
                        <div class="ad-container">
                            <a
                                class="imgAdBnnr isSendImpLog"
                                href="javascript:;"
                                data-campaignid="802"
                                data-campaignproductid="2991"
                                data-space="recruitTextBottom"
                                data-urlpath="/user/qstn/answerwrite"
                                data-linkurl="https://www.jacademyhub.com/"
                                data-linktype="NEW_WINDOW"
                                data-gender=""
                                data-age="0"
                                data-pagetypecode="11"
                                data-creativename="A"
                                data-creativesrc="정림 아카데미 디지털 유닛\n2026년 제6기 교육생 모집"
                            >
                                <p>
                                    try-catch 아카데미디지털 유닛<br /><strong
                                        >2026년 제6기 교육생 모집</strong
                                    >
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="footer__advertisement--image">
                        <script type="text/javascript">
                            // AD 배너 이미지 오류
                            function adBnnrImageOnError_10(pageTypeCode) {
                                var divTag = ".divAdBnnr_" + pageTypeCode;
                                $(divTag).css("display", "none");
                            }
                        </script>
                        <div
                            class="ad-container divAdBnnr_10"
                            style="
                                width: 495px;
                                height: 110px;
                                background-color: #ffffff;
                            "
                        >
                            <a
                                class="imgAdBnnr imgAdBnnr_10 isSendImpLog"
                                href="javascript:;"
                                data-campaignid="804"
                                data-campaignproductid="3017"
                                data-space="recruitBottom"
                                data-urlpath="/user/qstn/answerwrite"
                                data-linkurl="https://dongsung.career.greetinghr.com"
                                data-linktype="NEW_WINDOW"
                                data-gender=""
                                data-age="0"
                                data-pagetypecode="10"
                                data-creativename="A"
                                data-creativesrc="https://ads.jobkorea.co.kr/ads/pc/images/202512/160162b5-04ef-4693-b6cc-38513a5d6e32.png"
                            >
                                <img
                                    src="https://ads.jobkorea.co.kr/ads/pc/images/202512/160162b5-04ef-4693-b6cc-38513a5d6e32.png"
                                    alt=" try-catch 아카데미디지털 유닛 2026년 제6기 교육생 모집"
                                    onerror="adBnnrImageOnError_10(10)"
                                />
                            </a>
                        </div>
                    </div>
                    <div class="footer__advertisement--text">
                        <div class="ad-container">
                            <a
                                class="imgAdBnnr isSendImpLog"
                                href="javascript:;"
                                data-campaignid="804"
                                data-campaignproductid="3018"
                                data-space="recruitTextBottom"
                                data-urlpath="/user/qstn/answerwrite"
                                data-linkurl="https://dongsung.career.greetinghr.com"
                                data-linktype="NEW_WINDOW"
                                data-gender=""
                                data-age="0"
                                data-pagetypecode="11"
                                data-creativename="A"
                                data-creativesrc=" 2026 쿠팡 개발자 IMPACT 신입체험자 모집"
                            >
                                <p>
                                    2026 쿠팡 개발자<br /><strong
                                        >IMPACT 신입체험자 모집</strong
                                    >
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__notice">
                    <h3 class="blind">공지사항</h3>
                    <dl class="footer__notice-wrap clear">
                        <dt class="footer__notice-title">
                            <a href="https://www.jobkorea.co.kr/help/notice"
                                >공지사항</a
                            >
                        </dt>
                        <dd class="footer__notice-text">
                            <a
                                href="https://www.jobkorea.co.kr/help/notice/view?no=15019"
                                ><div class="ellipsis">
                                    [무료] try-catchㅣAI로
                                    채용을 새롭게
                                </div>
                                <em class="tahoma">26.01.15</em></a
                            >
                        </dd>
                    </dl>
                </div>

                <div class="footer__service">
                    <h3 class="blind">잡코리아 서비스 링크</h3>
                    <ul>
                        <li>
                            <a
                                href="http://company.jobkorea.co.kr/"
                                target="_blank"
                                >회사소개</a
                            >
                        </li>
                     
                        <li>
                            <a
                                href="https://www.jobkorea.co.kr/service_jk/provision/provision_gg.asp"
                                target="_blank"
                                >이용약관</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.jobkorea.co.kr/service_jk/privacy.asp"
                                target="_blank"
                                ><strong>개인정보처리방침</strong></a
                            >
                        </li>
                     
                     
                     
                        <li>
                            <a
                                href="https://www.jobkorea.co.kr/help/faq/user"
                                target="_blank"
                                >고객센터</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="footer__help">
                    <h3 class="blind">고객센터</h3>
                    <dl
                        class="footer__help-wrap footer__help-wrap--working-hour"
                    >
                        <dt class="footer__help-title">고객센터</dt>
                        <dd class="footer__help-text">
                            <span>1234-5678</span>
                        </dd>
                        <dd class="footer__help-text">
                            (평일 <span>09:00 ~ 19:00</span> 토요일
                            <span>09:00 ~ 15:00</span>)
                        </dd>
                    </dl>
                    <dl class="footer__help-wrap footer__help-wrap--fax">
                        <dt class="footer__help-title"><span>FAX</span></dt>
                        <dd class="footer__help-text">
                            <span>02-111-1111</span>
                        </dd>
                    </dl>
                    <dl class="footer__help-wrap footer__help-wrap--email">
                        <dt class="footer__help-title"><span>Email</span></dt>
                        <dd class="footer__help-text">
                            <a
                                href="mailto:helpdesk@jobkorea.co.kr"
                                class="footer__help-link"
                                >test@.com</a
                            >
                        </dd>
                    </dl>
                    <dl class="footer__help-wrap footer__help-wrap--consult">
                        <a
                            href="https://talk.naver.com/ct/wcb8l5"
                            target="_blank"
                            title="새창"
                            class="footer__help-link"
                        >
                            <span class="footer__help--icon"></span>
                        </a>
                    </dl>

                    <ul class="footer__sns">
                        <li class="footer__sns-item">
                            <a
                                href="https://blog.naver.com/jobkorea1"
                                target="_blank"
                                title="블로그"
                                class="footer__sns-item--blog"
                                ><span class="skip">블로그</span></a
                            >
                        </li>
                        <li class="footer__sns-item">
                            <a
                                href="https://m.post.naver.com/my.nhn?memberNo=9028903"
                                target="_blank"
                                title="포스트"
                                class="footer__sns-item--post"
                                ><span class="skip">포스트</span></a
                            >
                        </li>
                        <li class="footer__sns-item">
                            <a
                                href="https://www.facebook.com/jobkorea"
                                target="_blank"
                                title="페이스북"
                                class="footer__sns-item--facebook"
                                ><span class="skip">페이스북</span></a
                            >
                        </li>
                        <li class="footer__sns-item">
                            <a
                                href="https://www.instagram.com/jobkorea_albamon/"
                                target="_blank"
                                title="인스타그램"
                                class="footer__sns-item--instagram"
                                ><span class="skip">인스타그램</span></a
                            >
                        </li>
                        <li class="footer__sns-item">
                            <a
                                href="https://www.youtube.com/channel/UCOrdY3p46GJh_CYacfwYieg"
                                target="_blank"
                                title="유튜브"
                                class="footer__sns-item--youtube"
                                ><span class="skip">유튜브</span></a
                            >
                        </li>
                    </ul>
                </div>

                <p class="copyright">
                    ©
                    <strong
                        ><a
                            href="http://company.jobkorea.co.kr/"
                            target="_blank"
                            >TRY-CATCH</a
                        ></strong
                    >
                    LLC. All rights reserved.
                </p>
            </div>
        </div>
</body>
</html>