<div id="headerWrap" class="gnbTheme1200 devGnbContainer">
            <div id="header" class="season_bg">
                <!--신입공채 메뉴일경우 클래스 start-sub 추가 -->
                <!-- // headInner -->
                <div class="headInner">
                    <h1 class="jkLogo">
                        <a href="">
                            <img
                                height="78"
                                src="https://file2.jobkorea.co.kr/Net/Mng/Image/LogoImage?FN=2025/09/JK-PC-최종수정_1_3.gif"
                                alt="JOBKOREA"
                            />
                        </a>
                    </h1>

                    <!-- // search -->
                    <div class="search" id="searchWrap">
                        <h2 class="skip">검색</h2>
                        <form
                            name="global_seek"
                            id="AKCFrm"
                            autocomplete="off"
                            action="/Search/"
                            target="_self"
                        >
                            <fieldset>
                                <legend>Smart Match 통합검색</legend>
                                <div class="smKey">
                                    <input
                                        type="text"
                                        id="stext"
                                        title="검색어 입력"
                                        name="stext"
                                        placeholder=""
                                        maxlength="30"
                                        data-vvipkeyword=""
                                        data-vvipkwrdno="0"
                                    />
                                    <!-- // 기존 자동완성 들어갈 영역 -->
                                    <div id="AKCDiv" class="autoSearch">
                                        <!-- // 기능 끈 상황 -->
                                        <div
                                            id="SearchStop"
                                            class="autoSearchStop"
                                        >
                                            <p class="btnArrow" id="btnArrow_C">
                                                <button
                                                    type="button"
                                                    title="열림"
                                                    class="devAcDisabledInfoOpen"
                                                >
                                                    <span class="blind"
                                                        >열림</span
                                                    >
                                                </button>
                                            </p>
                                            <div
                                                class="searchStopDesc"
                                                id="StopDesc"
                                            >
                                                <p class="description">
                                                    키워드를 입력하시면<br />
                                                    검색어를 추천해드립니다.
                                                </p>
                                                <p class="btnOdd">
                                                    <button
                                                        type="button"
                                                        id="devAcOn"
                                                    >
                                                        자동완성 켜기
                                                    </button>
                                                    <span>|</span>
                                                    <button
                                                        type="button"
                                                        id="devAcInfoClose"
                                                        class="odd"
                                                    >
                                                        닫기
                                                    </button>
                                                </p>
                                            </div>
                                            <p
                                                class="btnArrow btnArrowClose"
                                                id="btnArrow_O"
                                            >
                                                <button
                                                    type="button"
                                                    title="닫힘"
                                                    class="devAcDisabledInfoClose"
                                                >
                                                    <span class="blind"
                                                        >닫힘</span
                                                    >
                                                </button>
                                            </p>
                                            <div class="bg"></div>
                                        </div>

                                        <!-- // 기능 켠 상황 -->
                                        <div
                                            id="SearchStart"
                                            class="autoSearchStart"
                                        >
                                            <div
                                                class="iframeHolder"
                                                data-url=""
                                                data-id="AKCIfrm"
                                                data-name="AKCIfrm"
                                                data-title="자동검색"
                                                data-allowtransparency="true"
                                            >
                                                <div
                                                    class="searchWrap"
                                                    id="devSearchWrap"
                                                >
                                                    <div class="searchList">
                                                        <h3>검색어 자동완성</h3>
                                                        <ul id="AKCIDiv"></ul>

                                                        <p class="btnOdd">
                                                            <button
                                                                type="button"
                                                                id="devAcOff"
                                                                class="odd"
                                                            >
                                                                자동완성 끄기
                                                            </button>
                                                            <span>|</span>
                                                            <button
                                                                type="button"
                                                                id="devAcInfoClose2"
                                                                class="odd"
                                                            >
                                                                닫기
                                                            </button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg"></div>
                                        </div>
                                    </div>
                                    <!-- 기존 자동완성 들어갈 영역 // -->
                                    <input
                                        type="submit"
                                        value="검색"
                                        class="submit spGnb"
                                        id="common_search_btn"
                                    />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- search // -->

                    <!-- // 배너 영역 -->
                    <div class="headBann">
                        <strong class="skip">잡코리아 주요 서비스</strong>
                        <div class="bannBxAlignRow">
                            <a
                                href=""
                                target="_blank"
                                title="새창 열림"
                                class="bann-logo bann-albamon"
                                >알바몬</a
                            >
                            <a
                                href=""
                                target="_blank"
                                title="새창 열림"
                                class="bann-logo bann-gamejob"
                                >게임잡</a
                            >
                            <a
                                href=""
                                target="_blank"
                                title="새창 열림"
                                class="bann-logo bann-ninehire"
                                >나인하이어</a
                            >
                            <a
                                href=""
                                target="_blank"
                                title="새창 열림"
                                class="bann-logo bann-klik"
                                >클릭
                                <div class="bann-log__tooltip">
                                    외국인 인재 채용 지금 바로!
                                </div></a
                            >
                        </div>
                    </div>
                </div>
                <!-- headInner // -->

                <div id="headNavBar" class="headNavBar dev-headNavBar">
                    <div class="navInner dev-navInner">
                        <div class="jkNavArea dev-jkNavArea">
                            <h2 class="skip">주요서비스</h2>
                            <ul class="serviceNav dev-serviceNav">
                                <li id="gnbGi" class="navItem">
                                    <a href="" class="linkItem"
                                        ><span class="spNav"
                                            ><span class="txIr"
                                                >채용정보</span
                                            ></span
                                        ></a
                                    >
                                </li>
                                <li class="navItem onepick" id="onepick">
                                    <a href="" class="linkItem"
                                        ><span class="spNav"
                                            >합격축하금</span
                                        ></a
                                    >
                                </li>
                                <li id="gnbStart" class="navItem start">
                                    <a href="" class="linkItem"
                                        ><span class="spNav"
                                            ><span class="txIr"
                                                >공채정보</span
                                            ></span
                                        ></a
                                    >
                                </li>
                                <li
                                    id="gnbInternship"
                                    class="navItem internship"
                                >
                                    <a href="" class="linkItem"
                                        ><span class="spNav">신입·인턴</span></a
                                    >
                                </li>
                                <li id="gnbSalary" class="navItem salary">
                                    <a href="" class="linkItem">
                                        <span class="spNav"
                                            ><span class="txIr"
                                                >기업·연봉</span
                                            ></span
                                        >
                                    </a>
                                </li>
                                <li id="futurelab" class="navItem futurelab">
                                    <a href="" class="linkItem">
                                        <span class="spNav"
                                            ><span class="txIr"
                                                >취업전략</span
                                            ></span
                                        >
                                    </a>
                                </li>
                                <li
                                    id="gnbQna"
                                    class="navItem qna gnbQna-fixed"
                                >
                                    <a href="" class="linkItem">
                                        <span class="spNav"
                                            ><span class="txIr"
                                                >취업톡톡</span
                                            ></span
                                        >
                                    </a>
                                </li>
                            </ul>
                            <!-- my 홈일경우 클래스 myPage -->
                            <ul id="devMyPage" class="userNav">
                                <ul class="userNav">
                                    <li class="userNav-item login">
                                        <a
                                            href=""
                                            class="txt-button login-button"
                                            >로그인</a
                                        >
                                    </li>
                                    <li class="userNav-item join">
                                        <a
                                            href=""
                                            class="txt-button join-button"
                                            >회원가입</a
                                        >
                                    </li>
                                    <li class="userNav-item corp">
                                        <a href="" target="_blank"
                                            ><span class="spGnb"
                                                >기업서비스</span
                                            ></a
                                        >
                                        <div class="lyMyArea">
                                            <div class="myInner">
                                                <div class="lyRow">
                                                    <div class="btnRowWrap">
                                                        <a href=""
                                                            >기업회원 로그인</a
                                                        >
                                                    </div>
                                                </div>
                                                <div class="myLists">
                                                    <ul>
                                                        <li>
                                                            <a href=""
                                                                ><span
                                                                    class="tx"
                                                                    >기업회원
                                                                    홈</span
                                                                ></a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                ><span
                                                                    class="tx"
                                                                    >공고등록</span
                                                                ></a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                ><span
                                                                    class="tx"
                                                                    >공고·지원자
                                                                    관리</span
                                                                ></a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                ><span
                                                                    class="tx"
                                                                    >인재정보</span
                                                                ></a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                ><span
                                                                    class="tx"
                                                                    >원픽서비스
                                                                    안내</span
                                                                ></a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                ><span
                                                                    class="tx"
                                                                    >기업회원
                                                                    서비스
                                                                    안내</span
                                                                ></a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                ><span
                                                                    class="tx"
                                                                    >서치펌
                                                                    서비스
                                                                    안내</span
                                                                ></a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                ><span
                                                                    class="tx"
                                                                    >기업라운지</span
                                                                ></a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <span class="icnArr spGnb"></span>
                                        </div>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                    <div class="lyNavArea">
                        <h3 class="skip">채용정보 세부메뉴</h3>
                        <div class="lyNavWrap">
                            <div class="lyNavInner side">
                                <div class="lyRow row01">
                                    <div class="lyRow-inner">
                                        <div class="col-title">
                                            나에게 딱 맞는 공고
                                            <i class="watch"></i>
                                        </div>
                                        <div class="lyCol subCol">
                                            <div class="colItem">
                                                <strong class="titArea">
                                                    <a href="" class="tit gnbGi"
                                                        >채용 탐색</a
                                                    >
                                                </strong>
                                                <div class="listBx">
                                                    <ul class="list-col">
                                                        <li>
                                                            <a href=""
                                                                >지역별 공고</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >직무별 공고</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >산업별 공고</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >기업별 공고</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >TOP100 공고</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >AI 전문직
                                                                공고</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >반도체·이차전지
                                                                공고</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="colItem">
                                                <strong class="titArea">
                                                    <a
                                                        href=""
                                                        class="tit gnbTheme"
                                                        >전문 채용</a
                                                    >
                                                </strong>
                                                <div class="listBx">
                                                    <ul class="list-col">
                                                        <li>
                                                            <a href=""
                                                                >전문채용관</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="colItem">
                                                <strong class="titArea">
                                                    <a
                                                        href=""
                                                        class="tit headhunting"
                                                        >채용 대행</a
                                                    >
                                                </strong>
                                                <div class="listBx">
                                                    <ul class="list-col">
                                                        <li>
                                                            <a href=""
                                                                >헤드헌팅
                                                                공고</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lyCol subCol">
                                            <div class="colItem">
                                                <strong class="titArea">
                                                    <a
                                                        href=""
                                                        class="tit onepick"
                                                        >합격축하금 원픽</a
                                                    >
                                                </strong>
                                                <div class="listBx">
                                                    <ul class="list-col">
                                                        <li>
                                                            <a href=""
                                                                >합격축하금
                                                                공고</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >원픽서비스
                                                                안내</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="colItem">
                                                <strong class="titArea">
                                                    <a
                                                        href=""
                                                        class="tit gnbStart"
                                                        >공채정보</a
                                                    >
                                                </strong>
                                                <div class="listBx">
                                                    <ul class="list-col">
                                                        <li>
                                                            <a href=""
                                                                >1000대기업
                                                                공채</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >공채달력</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >공공기관
                                                                채용일정</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="colItem">
                                                <strong class="titArea">
                                                    <a
                                                        href=""
                                                        class="tit internship"
                                                        >신입·인턴</a
                                                    >
                                                </strong>
                                                <div class="listBx">
                                                    <ul class="list-col">
                                                        <li>
                                                            <a href=""
                                                                >신입·인턴공고</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lyRow-inner">
                                        <div class="col-title">
                                            콘텐츠 탐색 <i class="quest"></i>
                                        </div>
                                        <div class="lyCol subCol">
                                            <div class="colItem">
                                                <strong class="titArea"
                                                    ><a
                                                        href=""
                                                        class="tit gnbSalary"
                                                        >기업·연봉</a
                                                    ></strong
                                                >
                                                <div class="listBx">
                                                    <ul class="list-col">
                                                        <li>
                                                            <a href=""
                                                                >기업리뷰</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >기업분석
                                                                보고서</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >슈퍼기업관</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href="">연봉</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="lyCol subCol">
                                            <div class="colItem">
                                                <strong class="titArea corp"
                                                    ><a
                                                        href=""
                                                        class="tit career"
                                                        >커리어 소식</a
                                                    ></strong
                                                >
                                                <div class="listBx">
                                                    <ul class="list-col">
                                                        <li>
                                                            <a href=""
                                                                >콘텐츠LAB</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >합격자소서</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >인적성·면접
                                                                후기</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >직무 인터뷰</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="colItem">
                                                <strong class="titArea"
                                                    ><a
                                                        href=""
                                                        class="tit jatTest"
                                                        >실전공략</a
                                                    ></strong
                                                >
                                                <div class="listBx">
                                                    <ul>
                                                        <li>
                                                            <a href=""
                                                                >인성역량검사</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >공기업 모의고사
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >역량테스트(MICT)</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="colItem">
                                                <strong class="titArea"
                                                    ><a
                                                        href=""
                                                        class="tit tools"
                                                        >취업 TOOL</a
                                                    ></strong
                                                >
                                                <div class="listBx">
                                                    <ul>
                                                        <li>
                                                            <a href=""
                                                                >취업 TOOL
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                >문서서식
                                                                자료</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lyCol subCol">
                                            <div class="colItem">
                                                <strong class="titArea"
                                                    ><a href="" class="tit talk"
                                                        >커리어 고민</a
                                                    ></strong
                                                >
                                                <div class="listBx">
                                                    <ul>
                                                        <li>
                                                            <a href=""
                                                                >취업톡톡</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lyCol bottom-menus">
                                        <!-- CASE : 비로그인 -->
                                        <ul>
                                            <li>
                                                <a href=""
                                                    >자주하는 질문 FAQ<i
                                                        class="faq"
                                                    ></i
                                                ></a>
                                            </li>
                                            <li>
                                                <a href=""
                                                    >주요 소식은 공지사항<i
                                                        class="emoji32_loudspeaker"
                                                    ></i
                                                ></a>
                                            </li>
                                            <li>
                                                <a href=""
                                                    >도움이 필요할 땐 고객센터<i
                                                        class="emoji32_headset"
                                                    ></i
                                                ></a>
                                            </li>
                                            <li>
                                                <a href=""
                                                    >혜택 가득 이벤트<i
                                                        class="gift"
                                                    ></i
                                                ></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sideCol side5h">
                                    <!-- CASE: 비로그인 || 기업회원, 개인회원 로그인 시 삭제 -->
                                    <div class="sideList bb">
                                        <p class="col-title">
                                            잡코리아 회원이 아니라면?
                                            <i class="notMember"></i>
                                        </p>
                                        <p>
                                            <span class="desc"
                                                >간단 프로필 등록하고</span
                                            >
                                            <a
                                                class="tit devNeedLogin"
                                                data-url="https://www.jobkorea.co.kr/User/MyPage"
                                                >포지션 제안 받아보기<i
                                                    class="line_line_arrow_right"
                                                ></i
                                            ></a>
                                        </p>
                                    </div>
                                    <div class="colItem">
                                        <strong class="titArea">
                                            <a
                                                data-url="https://www.jobkorea.co.kr/User/MyPage"
                                                class="tit devNeedLogin"
                                                >개인회원 홈</a
                                            >
                                        </strong>
                                        <div class="listBx">
                                            <ul>
                                                <li>
                                                    <a
                                                        data-url="https://www.jobkorea.co.kr/User/ResumeMng"
                                                        class="devNeedLogin"
                                                        >이력서 관리</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        data-url="https://www.jobkorea.co.kr/User/ApplyMng"
                                                        class="devNeedLogin"
                                                        >입사지원 현황</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        data-url="https://www.jobkorea.co.kr/User/PositionOffer"
                                                        class="devNeedLogin"
                                                        >포지션 제안</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        data-url="https://www.jobkorea.co.kr/User/Scrap"
                                                        class="devNeedLogin"
                                                        >스크랩 공고</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        data-url="https://www.jobkorea.co.kr/Text_User/User_Pwd.asp"
                                                        class="devNeedLogin"
                                                        >개인정보 수정</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- 배너영역 -->
                                    <!-- CASE: 비로그인 / 개인회원-->
                                    <div class="banner">
                                        <img
                                            src="https://i.jobkorea.kr/content/images/personal/main/nav_wrap_banner_new.png?202601061400"
                                            alt="이직을 준비하는 가장 확실한 방법 원픽 알아보기"
                                        />
                                        <a
                                            class="entire"
                                            href=""
                                            target="_blank"
                                            >이직을 준비하는 가장 확실한 방법
                                            원픽 알아보기</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jkNavDimm"></div>