<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>QnA</title>

<link rel="stylesheet" href="/static/css/community/QnA.css" />
</head>
<body>
<div id="headerWrap">
    <div id="header">
        <!-- //head inner -->
        <div class="headInner">
            <!-- ✅ 클래스명 통일 -->
            <h1 class="jkLogo">
                <!-- //search -->
                <a href="https://www.jobkorea.co.kr/">
                    <img
                        src="https://file2.jobkorea.co.kr/Net/Mng/Image/LogoImage?FN=2025/09/JK-PC-%EC%B5%9C%EC%A2%85%EC%88%98%EC%A0%95_1_3.gif"
                        alt="JOBKOREA"
                    />
                </a>
            </h1>

            <div class="search" id="searchWrap">
                <h2 class="skip">검색</h2>
                <form name="global_seek">
                    <fieldset>
                        <legend>Smart Match 통합검색</legend>
                        <div class="smKey">
                            <input
                                type="text"
                                id="stext"
                                name="stext"
                                placeholder="검색어를 입력하세요"
                                maxlength="30"
                            />

                            <div id="AKCDiv" class="autoSearch"></div>

                            <input
                                type="submit"
                                value="검색"
                                class="submit"
                            />
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- search// -->
            <!-- //배너 영역 -->
            <div class="headBann">
                <strong class="skip">잡코리아 주요 서비스</strong>
                <div class="bannBxAlignRow">
                    <a
                        href="https://www.albamon.com/"
                        target="_blank"
                        class="bann-logo bann-albamon"
                        onclick=""
                        >알바몬</a
                    >
                    <a
                        href="https://www.gamejob.co.kr/"
                        target="_blank"
                        class="bann-logo bann-gamejob"
                        onclick=""
                        >게임잡</a
                    >
                    <a
                        href="https://www.ninehire.com/"
                        target="_blank"
                        class="bann-logo bann-ninehire"
                        onclick=""
                        >나인하이어</a
                    >
                    <a
                        href="https://www.klik.co.kr/?utm_source=jk_pc&utm_medium=banner&utm_campaign=fam_site/"
                        target="_blank"
                        class="bann-logo bann-klik"
                        >클릭
                        <div class="bann-log__tooltip">
                            외국인 인재 채용 지금 바로!
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- headinner// -->
        <div id="headNavBar" class="headNavBar dev-headNavBar">
            <div class="navInner dev-navInner">
                <div class="jkNavArea dev-jkNavArea">
                    <h2 class="skip">주요서비스</h2>
                    <ul class="serviceNav dev-serviceNav">
                        <li id="gnbGi" class="navItem">
                            <a href="" class="linkItem" onclick="">
                                <span class="spNav">
                                    <span class="txIr">채용정보</span>
                                </span>
                            </a>
                        </li>
                        <li id="onepick" class="navItem onepick">
                            <a href="" class="linkItem" onclick="">
                                <span class="spNav">
                                    <span class="txIr">합격축하금</span>
                                </span>
                            </a>
                        </li>
                        <li id="gnbStart" class="navItem start">
                            <a href="" class="linkItem" onclick="">
                                <span class="spNav">
                                    <span class="txIr">공채정보</span>
                                </span>
                            </a>
                        </li>
                        <li
                            id="gnbInternship"
                            class="navItem internship"
                        >
                            <a href="" class="linkItem" onclick="">
                                <span class="spNav">
                                    <span class="txIr">신입·인턴</span>
                                </span>
                            </a>
                        </li>
                        <li id="gnbSalary" class="navItem salary">
                            <a href="" class="linkItem" onclick="">
                                <span class="spNav">
                                    <span class="txIr">기업·연봉</span>
                                </span>
                            </a>
                        </li>
                        <li id="futurelab" class="navItem futurelab">
                            <a href="" class="linkItem" onclick="">
                                <span class="spNav">
                                    <span class="txIr">취업전략</span>
                                </span>
                            </a>
                        </li>
                        <li
                            id="gnbQna"
                            class="navItem qna gnbQna-fixed"
                        >
                            <a href="" class="linkItem" onclick="">
                                <span class="spNav">
                                    <span class="txIr">취업톡톡</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <!-- my 홈일경우 클래스 myPage -->
                    <ul id="devMyPage" class="userNav">
                            <li class="userNav-item login">
                                <a
                                    href=""
                                    class="txt-button login-button"
                                    onclick=""
                                    >로그인</a
                                >
                            </li>
                            <li class="userNav-item join">
                                <a href="">회원가입</a>
                            </li>
                            <li class="userNav-item corp">
                                <a href="" target="_blank" onclick="">
                                    <span class="spGnb"
                                        >기업서비스</span
                                    >
                                </a>
                                <div class="lyMyArea">
                                    <div class="myInner">
                                        <div class="lyRow">
                                            <div class="btnRowWrap">
                                                <a href="" onclick=""
                                                    >기업회원 로그인</a
                                                >
                                            </div>
                                        </div>
                                        <div class="myLists">
                                            <ul>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                    >
                                                        <span class="tx"
                                                            >기업회원
                                                            홈</span
                                                        >
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                    >
                                                        <span class="tx"
                                                            >공고등록</span
                                                        >
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                    >
                                                        <span class="tx"
                                                            >공고·지원자
                                                            관리</span
                                                        >
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                    >
                                                        <span class="tx"
                                                            >인재정보</span
                                                        >
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                    >
                                                        <span class="tx"
                                                            >원픽서비스
                                                            안내</span
                                                        >
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                    >
                                                        <span class="tx"
                                                            >기업회원
                                                            서비스
                                                            안내</span
                                                        >
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                    >
                                                        <span class="tx"
                                                            >서치펌
                                                            서비스
                                                            안내</span
                                                        >
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                    >
                                                        <span class="tx"
                                                            >기업라운지</span
                                                        >
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="icnArr spGnb"></span>
                                </div>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="lyNavArea">
                <h3 class="skip">채용정보 세부메뉴</h3>
                <div class="lyNavWrap">
                    <div class="lyNavInner side">
                        <div class="lyRow row01">
                            <div class="lyRow-inner">
                                <div class="col-title">
                                    나에게 딱 맞는 공고
                                    <i class="watch"></i>
                                </div>
                                <div class="lyCol subCol">
                                    <div class="colItem">
                                        <strong class="titArea">
                                            <a
                                                href=""
                                                class="tit gnbGi"
                                                onclick=""
                                                >채용 탐색</a
                                            >
                                        </strong>
                                        <div class="listBx">
                                            <ul class="list-col">
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >지역별 공고</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >직무별 공고</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >산업별 공고</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >기업별 공고</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >TOP100 공고</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >AI 전문직
                                                        공고</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >반도체·이차전지
                                                        공고</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="colItem">
                                        <strong class="titArea">
                                            <a
                                                href=""
                                                class="tit gnbTheme"
                                                onclick=""
                                                >전문 채용</a
                                            >
                                        </strong>
                                        <div class="listBx">
                                            <ul class="list-col">
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >전문채용관</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="colItem">
                                        <strong class="titArea">
                                            <a
                                                href=""
                                                class="tit headhunting"
                                                onclick=""
                                                >채용 대행</a
                                            >
                                        </strong>
                                        <div class="listBx">
                                            <ul class="list-col">
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >헤드헌팅
                                                        공고</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lyCol subCol">
                                    <div class="colItem">
                                        <strong class="titArea">
                                            <a
                                                href=""
                                                class="tit onepick"
                                                onclick=""
                                                >합격축하금 원픽</a
                                            >
                                        </strong>
                                        <div class="listBx">
                                            <ul class="list-col">
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >합격축하금
                                                        공고</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >원픽서비스
                                                        안내</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="colItem">
                                        <strong class="titArea">
                                            <a
                                                href=""
                                                class="tit gnbStart"
                                                onclick=""
                                                >공채정보</a
                                            >
                                        </strong>
                                        <div class="listBx">
                                            <ul class="list-col">
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >1000대기업
                                                        공채</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >공채달력</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >공공기관
                                                        채용일정</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="colItem">
                                        <strong class="titArea">
                                            <a
                                                href=""
                                                class="tit internship"
                                                onclick=""
                                                >신입·인턴</a
                                            >
                                        </strong>
                                        <div class="listBx">
                                            <ul class="list-col">
                                                <li>
                                                    <a
                                                        href=""
                                                        onclick=""
                                                        >신입·인턴공고</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lyRow-inner">
                <div class="col-title">콘텐츠 탐색 <i class="quest"></i></div>
                <div class="lyCol subCol">
                    <div class="colItem">
                        <strong class="titArea"><a href="" class="tit gnbSalary" onclick="">기업·연봉</a></strong>
                        <div class="listBx">
                            <ul class="list-col">
                                <li><a href="" onclick="">기업리뷰</a></li>
                                <li><a href="" onclick="">기업분석 보고서</a></li>
                                <li><a href="" onclick="">슈퍼기업관</a></li>
                                <li><a href="" onclick="">연봉</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="lyCol subCol">
                    <div class="colItem">
                        <strong class="titArea corp"><a href="" class="tit career" onclick="">커리어 소식</a></strong>
                        <div class="listBx">
                            <ul class="list-col">
                                <li><a href="" onclick="">콘텐츠LAB</a></li>
                                <li><a href="" onclick="">합격자소서</a></li>
                                <li><a href="" onclick="">인적성·면접 후기</a></li>
                                <li><a href="" onclick="">직무 인터뷰</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="colItem">
                        <strong class="titArea"><a href="" class="tit jatTest" onclick="">실전공략</a></strong>
                        <div class="listBx">
                            <ul>
                                <li><a href="">인성역량검사</a></li>
                                <li><a href="">공기업 모의고사 </a></li>
                                <li><a href="" onclick="">역량테스트(MICT)</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="colItem">
                        <strong class="titArea"><a href="" class="tit tools" onclick="">취업 TOOL</a></strong>
                        <div class="listBx">
                            <ul>
                                <li><a href="" onclick="">취업 TOOL </a></li>
                                <li><a href="" onclick="">문서서식 자료</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="lyCol subCol">
                    <div class="colItem">
                        <strong class="titArea"><a href="" class="tit talk" onclick="">커리어 고민</a></strong>
                        <div class="listBx">
                            <ul>
                                <li><a href="" onclick="">취업톡톡</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                            <div class="lyCol bottom-menus">
                    <!-- CASE : 비로그인 -->
                    <ul>
                        <li>
                            <a href="" onclick="">자주하는 질문 FAQ<i class="faq"></i></a>
                        </li>
                        <li>
                            <a href="" onclick="">주요 소식은 공지사항<i class="emoji32_loudspeaker"></i></a>
                        </li>
                        <li>
                            <a href="" onclick="">도움이 필요할 땐 고객센터<i class="emoji32_headset"></i></a>
                        </li>
                        <li>
                            <a href="" onclick="">혜택 가득 이벤트<i class="gift"></i></a>
                        </li>
                    </ul>
            </div>
                        </div>
                        <div class="sideCol side5h">
                <!-- CASE: 비로그인 || 기업회원, 개인회원 로그인 시 삭제 -->
                <div class="sideList bb">
                    <p class="col-title">잡코리아 회원이 아니라면? <i class="notMember"></i></p>
                    <p>
                        <span class="desc">간단 프로필 등록하고</span>
                        <a class="tit devNeedLogin" data-url="" onclick="">포지션 제안 받아보기<i class="line_line_arrow_right"></i></a>
                    </p>
                </div>
                <div class="colItem">
                    <strong class="titArea">
                        <a data-url="" class="tit devNeedLogin" onclick="">개인회원 홈</a>
                    </strong>
                    <div class="listBx">
                        <ul>
                            <li><a data-url="" onclick="" class="devNeedLogin">이력서 관리</a></li>
                            <li><a data-url="" onclick="" class="devNeedLogin">입사지원 현황</a></li>
                            <li><a data-url="" onclick="" class="devNeedLogin">포지션 제안</a></li>
                            <li><a data-url="" onclick="" class="devNeedLogin">스크랩 공고</a></li>
                            <li><a data-url="" onclick="" class="devNeedLogin">개인정보 수정</a></li>
                        </ul>
                    </div>
                </div>

            <!-- 배너영역 -->
                <!-- CASE: 비로그인 / 개인회원-->
                <div class="banner">
                    <img src="https://i.jobkorea.kr/content/images/personal/main/nav_wrap_banner_new.png?202601061400">
                    <a class="entire" href="" target="_blank" onclick="">이직을 준비하는 가장 확실한 방법 원픽 알아보기</a>
                </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jkNavDimm on"></div>
</body>
</html>
