* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: url("/static/font/Pretendard-Regular.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: url("/static/font/Pretendard-SemiBold.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: url("/static/font/Pretendard-Bold.subset.woff2") format(woff2);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, button, p, table, th, td {
    padding: 0;
    margin: 0;
}

label {
    cursor: pointer;
    vertical-align: middle;
}

address, caption, em {
    font-weight: normal;
    font-style: normal;
}

table, th, td, input, button {
    font-size: 12px;
    letter-spacing: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 0 none;
}

select, input, option, textarea {
    vertical-align: middle;
    font-size: 12px;
    letter-spacing: 0px;
    color: #666;
}

form, fieldset, iframe, button {
    border: 0 none;
}

input, select, button {
    vertical-align: middle;
}

button {
    overflow: visible;
    background: transparent;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

.skip, .blind {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
}

a, a:link, a:visited {
    color: #999;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #7BA882;
}

li {
    list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
    padding: 0;
    margin: 0;
}

#wrap {
    position: relative;
    width: 100%;
    margin: 25px auto 0 auto;
    text-align: left;
    zoom: 1;
}

#container, .container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    zoom: 1;
}

#content {
    width: 960px;
    position: relative;
    zoom: 1;
}

#secHelp #content {
    position: relative;
    width: auto;
    padding-left: 220px;
    padding-bottom: 80px;
    min-height: 700px;
}

.secLnb {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    width: 190px;
    border-top: 1px solid #4a5470;
    border-left: 1px solid #dce1eb;
    border-right: 1px solid #dce1eb;
    box-sizing: border-box;
    z-index: 1;
}

.secLnb .lnbTit {
    display: block;
    margin-top: 12px;
    padding: 12px 0;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: normal;
    color: #000;
}

.secLnb .lnbGroup {
    padding: 15px 0 18px;
    border-top: 1px solid #eeeef0;
}

.secLnb .lnbGroup li {
    font-size: 13px;
    letter-spacing: 0px;
    color: #000;
    line-height: 2.3;
}

.secLnb .lnbGroup li a {
    color: #000;
}

.secLnb .lnbGroup li a:hover, .secLnb .lnbGroup li a.on {
    color: #7BA882;
}

.secLnb .lnbGroup .lnbTwoDep li {
    padding-left: 7px;
    background: url(/static/images/dot_lnb_2x2.gif) no-repeat 0 50%;
}

#secHelp .loungeContent h1 {
    padding: 12px 0 28px;
    font-size: 26px;
    letter-spacing: -0.5px;
    color: #333;
}

.helpNoticeBox {
    padding: 20px 16px;
    background: #F7F7F7;
    border: 1px solid #E8E8E8;
}

.helpNoticeBox .msg {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #333;
}

.helpNoticeBox .msg + .helpNoticeBoxList {
    margin-top: 8px;
}

.helpNoticeBoxList li {
    position: relative;
    padding-left: 19px;
    font-size: 13px;
    letter-spacing: 0px;
    color: #666;
    line-height: 24px;
}

.helpNoticeBoxList li:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #666;
    display: block;
    border-radius: 3px;
    left: 8px;
    top: 10.5px;
}

.clef3f3f {
    color: #ef3f3f;
}

.tabSearchTable {
    margin-top: 32px;
}

.tabSearchTableCaption {
    font-size: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
    width: 0;
}

.tabSearchTable th {
    text-align: left;
    vertical-align: top;
}

.tabSearchTable th, .tabSearchTable td {
    padding: 15px 0;
}

.tabSearchTable th > span {
    display: block;
    padding-top: 3px;
    padding-left: 10px;
}

.tabSearchTable .tabSearchTableTitle {
    font-size: 16px;
    letter-spacing: 0px;
    color: #000;
    font-weight: normal;
}

.cl3399ff {
    color: #7BA882;
}

.tabSearchTable td > div {
    padding-left: 10px;
}

.tabSearchTableDefaultID {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #333;
    font-weight: bold;
}

.tplSchType {
    position: relative;
}

.tabSearchTable .tplSchType {
    display: inline-block;
    vertical-align: middle;
}

.tplSchType dl {
    float: left;
    width: 220px;
    height: 32px;
    border: 1px solid #39f;
}

.tplSchType .oneOnOneQuest, .tplSchType .oneOnOneQuest dd {
    width: 365px;
    border-color: #ccc;
}

.tplSchType dl dd {
    position: relative;
    float: left;
}

.tplSchType .oneOnOneQuest, .tplSchType .oneOnOneQuest dd {
    width: 365px;
    border-color: #ccc;
}

.tplBtn, .tplBtnTy {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    white-space: nowrap;
}

.tplSchType .ph {
    position: absolute;
    left: 12px;
    top: 6px;
    color: #999;
    line-height: 18px;
}

.tplSchType dl dd input[type="text"] {
    float: left;
    border: 0;
    width: 196px;
    height: 32px;
    line-height: 34px;
    padding: 0 12px;
}

.tplSchType .oneOnOneQuest dd input[type="text"] {
    width: 341px;
}

.agreeBox {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #edeef0;
    text-align: center;
}    

.tplChkBx {
    position: relative;
    display: inline-block;
}

.agreeBox * {
    vertical-align: middle;
}

.tplChkBx input[type="checkbox"], .tplChkRect input[type="checkbox"], .tplChkCirc input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 13px;
    height: 13px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tplChkBx label {
    display: inline-block;
    margin-right: 5px;
    line-height: 1.4em;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    line-height: 13px;
}

.agreeBox label {
    display: inline-block;
    margin-top: -2px;
    margin-left: 5px;
}

.tplChkBx .bxIpt, .tplChkRect .bxIpt:before, .tplChkCirc .bxIpt:before {
    display: inline-block;
    padding-left: 18px;
    background: url(/static/images/tpl_sp_form_recolor_006e3f.png) no-repeat 0 -330px;
    vertical-align: top;
    cursor: pointer;
}

.tplChkBx_1 .bxIpt {
    background-position: 0 -330px;
}

.tplChkBx label.chk {
    color:  #7BA882;
}

.tplChkBx .bxIpt.chk {
    background-position: 0 -373px;
}

.tplChkBx_1 .bxIpt.chk {
    background-position: 0 -416px;
}

.btnAgreeArea {
    margin-top: 45px;
    text-align: center;
}

.btnAgreeArea_2 {
    margin-top: 25px;
    padding-top: 40px;
    border-top: 1px solid #edeef0;
}

.agreeBox + .btnAgreeArea_2 {
    margin-top: 15px;
    padding-top: 0px;
    border-top: 0px solid #edeef0;
}

.btnBlue {
    background: #7BA882;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0px;
}

.btnAgreeArea > button {
    width: 190px;
    height: 54px;
}

.btnAgreeArea_2 > button {
    width: auto;
    padding: 0 45px;
}