<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>잡코리아 채용 서비스 - 새로운 인재 채용 전략 | 잡코리아</title>
    <link rel="stylesheet" href="../../static/css/corporate/home.css">
    <link rel="shortcut icon" href="https://www.jobkorea.co.kr/favicon.ico?202601061400" type="image/x-icon">
</head>
<body>
    <div id="wrap">

        <!-- 헤더 -->
        <div class="corporate-header devCorpLogin devCorpHeader">
            <!-- main-menu -->
            <div class="inner">
                <div class="top-menu clearfix">
                    <h1>
                        <a href="/"></a>
                    </h1>
                    <ul class="top-menu-list clearfix">
                        <li>
                            <a href="">회원가입</a>
                        </li>
                        <li>
                            <a href="">고객센터</a>
                        </li>
                        <li class="devGoLogin">
                            <a href="">로그인</a>
                        </li>
                    </ul>
                </div>

                <!-- navigation -->
                <div class="navigation clearfix">
                    <div class="left-menu">
                        <ul class="left-menu-list clearfix">
                            <li>
                                <a href="javascript:;" class="button-all-menu">
                                    <i></i>
                                </a>
                                <!-- javascript -->
                            </li>
    
                            <li class="active-fixed">
                                <a href="">홈</a>
                                <!-- onclick="GA_Event('기업공통_PC', 'gnb', '홈') -->
                            </li>
    
                            <li class="devRecruit">
                                <a href="">공고등록</a>
                                <!-- onclick="GA_Event('기업공통_PC', 'gnb', '공고등록') -->
                            </li>
    
                            <li class="devApplicant">
                                <a href="">공고·지원자 관리</a>
                                <!-- onclick="GA_Event('기업공통_PC', 'gnb', '공고·지원자 관리'); -->
                                <div class="sub-nav">
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <a href="">전체 채용공고</a>
                                            </li>
                                            <li>
                                                <a href="">지원자관리</a>
                                            </li>
                                            <li>
                                                <a href="">면접캘린더</a>
                                            </li>
                                            <li>
                                                <a href="">차단내역</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <a href="">인재검색</a>
                                <!-- onclick -->
                            </li>
                            
                            <li class="devGoLogin">
                                <a href="">인재관리</a>
                                <!-- onclick -->
                                <div class="sub-nav">
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <a href="">포지션 제안 인재</a>
                                            </li>
                                            <li>
                                                <a href="">스크랩 인재</a>
                                            </li>
                                            <li>
                                                <a href="">최근 본 인재</a>
                                            </li>
                                            <li>
                                                <a href="">우리기업 관심인재</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <a href="">원픽<span class="bubble">인재추천의 시작</span></a>
                                <!-- onclick -->
                                <div class="sub-nav">
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <a href="">원픽 서비스 안내</a>
                                                <!-- onclick -->
                                            </li>
                                            <li>
                                                <a href="" target="_blank">원픽 프리미엄 안내</a>
                                                <!-- onclick -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <a href="">헤드헌팅 의뢰</a>
                                <!-- onclick= -->
                                <div class="sub-nav">
                                    <div class="category">
                                        <ul>
                                            <li>
                                                <a href="">헤드헌팅 의뢰</a>
                                            </li>
                                            <li class="devGoLogin">
                                                <a href="">헤드헌팅 의뢰하기</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <a href="">기업라운지</a>
                                <!-- onclick -->
                            </li>
                        </ul>
                    </div>
    
                    <!-- service guide -->
                    <div class="right-menu">
                        <ul class="right-menu-list clearfix">
                            <li>
                                <a href="">서비스 상품안내<span class="sale-badge">SALE</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- sub-menu -->
            <div class="sub-nav-bg"></div>
            <div class="all-menu-modal">
                <div class="inner clearfix">
                    <div class="category">
                        <!-- onclick -->
                        <div class="title">
                            <a href="">공고·지원자 관리</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li>
                                <a href="">전체 채용공고</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">지원자관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">면접캘린더</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">차단내역</a>
                                <!-- onclick -->
                            </li>
                        </ul>
                    </div>

                    <div class="category">
                        <div class="title">
                            <a href="">인재검색</a>
                            <!-- onclick -->
                        </div>
                        <div class="category sub-category">
                            <div class="title">
                                <a href="">인재관리</a>
                                <!-- onclick -->
                            </div>
                            <ul>
                                <li>
                                    <ul>
                                        <li>
                                            <a href="">포지션 제안 인재</a>
                                            <!-- onclick -->
                                        </li>
                                        <li>
                                            <a href="">스크랩 인재</a>
                                            <!-- onclick  -->
                                        </li>
                                        <li>
                                            <a href="">최근 본 인재</a>
                                            <!-- onclick -->
                                        </li>
                                        <li>
                                            <a href="">우리기업 관심인재</a>
                                            <!-- onclick -->
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="category">
                        <div class="title">
                            <a href="">원픽</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li>
                                <a href="">원픽 서비스 안내</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">원픽 프리미엄 안내</a>
                                <!-- onclick  -->
                            </li>
                        </ul>
                        <div class="category sub-category margin-top">
                            <div class="title">
                                <a href="">헤드헌팅 의뢰</a>
                                <!-- onclick -->
                            </div>
                            <ul>
                                <li>
                                    <a href="">헤드헌팅 의뢰</a>
                                    <!-- onclick -->
                                </li>
                                <li>
                                    <a href="">헤드헌팅 의뢰하기</a>
                                    <!-- onclick  -->
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="category">
                        <div class="title">
                            <a href="">유료서비스 내역</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li>
                                <a href="">유료서비스 이용내역</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">전자세금계산서</a>
                                <!-- onclick  -->
                            </li>
                            <li>
                                <a href="">쿠폰</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">충전금</a>
                                <!-- onclick -->
                            </li>
                                
                        </ul>
                    </div>

                    <div class="category">
                        <div class="title">
                            <a href="">기업정보</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li class="devCorpInfoDetail">
                                <a href="">기업정보관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">회원정보관리</a>
                                <!-- onclick  -->
                            </li>
                            <li>
                                <a href="">로그인 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">정보 수신 설정</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">2단계 인증 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">2단계 인증 내역</a>
                                <!-- onclick  -->
                            </li>
                            <li>
                                <a href="">기업인증</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">전문채용관 신청</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">슈퍼기업관 신청</a>
                                <!-- onclick -->
                            </li>
                        </ul>
                    </div>

                    <div class="category">
                        <div class="title">
                            <a href="">기업정보</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li class="devCorpInfoDetail">
                                <a href="">기업정보관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">회원정보관리</a>
                                <!-- onclick  -->
                            </li>
                            <li>
                                <a href="">로그인 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">정보 수신 설정</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">2단계 인증 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">2단계 인증 내역</a>
                                <!-- onclick  -->
                            </li>
                            <li>
                                <a href="">기업인증</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">전문채용관 신청</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">슈퍼기업관 신청</a>
                                <!-- onclick -->
                            </li>
                        </ul>
                    </div>

                    <div class="category">
                        <div class="title">
                            <a href="">기업정보</a>
                            <!-- onclick -->
                        </div>
                        <ul>
                            <li class="devCorpInfoDetail">
                                <a href="">기업정보관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">회원정보관리</a>
                                <!-- onclick  -->
                            </li>
                            <li>
                                <a href="">로그인 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">정보 수신 설정</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">2단계 인증 관리</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">2단계 인증 내역</a>
                                <!-- onclick  -->
                            </li>
                            <li>
                                <a href="">기업인증</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">전문채용관 신청</a>
                                <!-- onclick -->
                            </li>
                            <li>
                                <a href="">슈퍼기업관 신청</a>
                                <!-- onclick -->
                            </li>
                        </ul>
                    </div>

                    <a href="" class="write-button">공고등록</a>
                </div>
            </div>
        </div>

        <!-- 알림 (공고, 공지사항) -->
        <div class="top-notice-section">
            <!-- javascript -->
            <div class="inner clearfix">
                <div class="notice-box">
                    <div class="swiper-container swiper-container-vertical">
                        <div class="swiper-wrapper">
                            <!-- 배너 -->
                            <div class="swiper-slide swiper-slide-duplicate">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> 잡코리아 개인정보처리방침 개정 안내
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [VOICE WANTED] 보이스피싱범 목소리 공개수배
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [공지] 기업회원 대상 상품 일부 가격조정 안내
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [무료] 잡코리아 더 리부트 컨퍼런스ㅣAI로 채용을 새롭게
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> 잡코리아 개인정보처리방침 개정 안내
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate">
                                <a href="" class="devNoticebox">
                                    <strong class="title">공지</strong> [VOICE WANTED] 보이스피싱범 목소리 공개수배
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="start-section">
            <div class="inner">
                <div class="border-round-section devCorpLogin">
                    <div class="title-box">
                        지금,
                        <strong>우리기업의 채용</strong>
                        을 시작해 보세요
                    </div>
                    <div class="button-box clearfix">
                        <span class="devGoLogin">
                            <a href="" class="blue">로그인</a>
                        </span>
                        <a href="">회원가입</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>